%table
  - displayed_years = []
  - @months.each do |monthly_date, entries|
    - unless displayed_years.include?(monthly_date.year)
      %tr
        %td.year{colspan: 2}= "#{monthly_date.year}年"
      - displayed_years << monthly_date.year
    %tr{data: {first_date: entries.first.try(:date), last_date: entries.last.try(:date)}}
      %td.month= "#{monthly_date.month}月"
      %td= entries.present? ? "*" : ''
