		<tr>
	      <% unless settlement.result_entry -%>
		  <td colspan="6">請求(ID:<%= settlement.id%>、「<%= s.name %>」、相手先：<%= settlement.account ? settlement.account.name : '？' %>)のデータが破損しています。精算取引がありません。管理者に連絡してください。</td>
		  <% else -%>
          <td class="date"><%= format_date settlement.result_entry.deal.date %></td>
          <td><%= settlement.name %></td>
          <td><%= settlement.account.name %></td>
          <td style="text-align:right;"><%= settlement.target_entries.size %></td>
          <td class="amount"><%= number_with_delimiter settlement.target_sum.abs %></td>
          <td><%= format_datetime settlement.created_at %></td>
		  <% end -%>
		  <td>
		  	<% if settlement.submitted_settlement_id -%>
			  提出済
			<% elsif settlement.kind_of?(SubmittedSettlement) %>
			  受理
			<% end -%>
		  </td>
          <td><%= link_to '詳細', settlement_path(:id => settlement.id) %></td>
		</tr>
