%table.book.settlements_summary
  %tr
    %th
    - @settlement_summaries.years.each do |year, months|
      %th{colspan: months.size}= "#{year}年"
  %tr
    %th
      .pull-right
        - if @settlement_summaries.previous_target_date
          = link_to '前へ', settlements_summary_path(@settlement_summaries.previous_target_date.year, @settlement_summaries.previous_target_date.month), class: %w(btn btn-info btn-sm)
    - @settlement_summaries.months.each do |monthly_date|
      %th= "#{monthly_date.month}月"
    - if @settlement_summaries.next_target_date
      %th
        .pull-left
          = link_to '後へ', settlements_summary_path(@settlement_summaries.next_target_date.year, @settlement_summaries.next_target_date.month), class: %w(btn btn-info btn-sm)
  - @settlement_summaries.each do |account, account_settlements|
    %tr
      %th
        = link_to account.name, account_settlements_path(account_id: account.id)
        .pull-right
          = link_to '作成', new_account_settlement_path(account_id: account.id), class: %w(btn btn-default btn-sm)
      - @settlement_summaries.months.each do |monthly_date|
        %td.settlement
          - if account_settlements.present?
            - account_settlements.find_all{|s| s.result_entry.date.year == monthly_date.year && s.result_entry.date.month == monthly_date.month}.each do |s|
              %div= link_to number_with_delimiter(s.amount), settlement_path(s.id)
          - else
            &nbsp;
      - if @settlement_summaries.next_target_date
        %th{width: "20px;"}
