- with_account_headers ||= false
%table.book.settlements_summary
  %tr
    - if with_account_headers
      %th
    - @years.each do |year, months|
      %th{colspan: months.size}= "#{year}年"
  %tr
    - if with_account_headers
      %th
    - @months.each do |monthly_date|
      %th= "#{monthly_date.month}月"
  - @summaries.each do |account, account_settlements|
    %tr
      - if with_account_headers
        %th
          = account.name
          .pull-right
            = link_to '一覧', account_settlements_path(account_id: account.id), class: %w(btn btn-default btn-sm)
            = link_to '作成', new_account_settlement_path(account_id: account.id), class: %w(btn btn-default btn-sm)
      - @months.each do |monthly_date|
        %td.settlement
          - if account_settlements.present?
            - account_settlements.find_all{|s| s.result_entry.date.year == monthly_date.year && s.result_entry.date.month == monthly_date.month}.each do |s|
              %div= link_to number_with_delimiter(s.result_entry.amount), settlement_path(s.id)
          - else
            &nbsp;
