- debtor_sum = 0
- creditor_sum = 0

%p
  = "#{format_date(@start_date)}から#{format_date(@end_date)}の#{@account.name}の未精算取引は#{@deals.empty? ? "ありません。" : "全#{@deals.size}件あります。"}"
- unless @entries.empty?
  %div
    #select_and_clear
      = link_to 'すべて選択', '#', class: %w(btn btn-default selectAll)
      &nbsp;
      = link_to 'すべて解除', '#', class: %w(btn btn-default clearAll)
    %table.book
      %tr
        %th{style: "width: 3em;"} 登録
        = display_account_entry_header
      - for entry in @entries
        - selected = @selected_deals.include?(entry.deal)
        %tr
          %td{style: selected ? nil: "background-color: #dddddd;"}
            = check_box_tag("settlement[deal_ids][#{entry.deal.id}]", "1", selected, :onClick => "settlement.toggle(this, #{entry.amount})", data: {amount: entry.amount})
          = display_account_entry entry, selected ? "" : "style='background-color: #dddddd;'"
        - if selected
          - debtor_sum += entry.amount if entry.amount < 0
          - creditor_sum += entry.amount.abs if entry.amount >= 0
      %tr
        %td{colspan: 6}
        %td.amount
          #debtor_sum= number_with_delimiter(debtor_sum*-1) if debtor_sum < 0
        %td.amount
          #creditor_sum= number_with_delimiter(creditor_sum) if creditor_sum > 0
      %tr
        %td{colspan: 3} 精算内容
        %td{colspan: 5, style: "text-align:center;"}
          - if debtor_sum == creditor_sum
            %div 精算は発生しません。
          - else
            %table
              %tr
                %th 精算データ名:
                %td= text_field 'settlement', 'name'
              %tr
                %th コメント:
                %td= text_area('settlement', 'description', :rows => 3)
              %tr
                %th 精算予定日:
                %td= select_date(@result_date, :use_month_numbers => true, :prefix => 'result_date')
              %tr
                %th 精算内容
                %td
                  #settlementSummary
                    = @account.name
                    %span#target_description= debtor_sum + creditor_sum < 0 ? 'に' : 'から'
                    = select_account('settlement', 'result_partner_account_id', asset_kinds{|attributes| attributes[:banking]}, true)
                    - if debtor_sum + creditor_sum < 0
                      %span#result= " から #{number_with_delimiter((debtor_sum + creditor_sum) * (-1)) }円　を入金する。"
                    - else
                      %span#result= " に #{number_with_delimiter(creditor_sum + debtor_sum)}円 が入金される。"
            = submit_tag('精算データを登録する', class: %w(btn btn-primary), id: :submit_settlement)
  - # TODO: とりあえずJSをやめる
  #settlement_sums{data: {debtor_sum: debtor_sum * -1, creditor_sum: creditor_sum}}

