- debtor_sum = 0
- creditor_sum = 0

%p
  = "#{format_date(@source.start_date)}から#{format_date(@source.end_date)}の#{@source.account.name}の未精算取引は#{@source.deals.empty? ? "ありません。" : "全#{@source.deals.size}件あります。"}"
- unless @source.entries.empty?
  %div
    #select_and_clear
      = link_to 'すべて選択', new_account_settlement_deals_path, method: :post, class: %w(btn btn-default toggleDeals)
      &nbsp;
      = link_to 'すべて解除', new_account_settlement_deals_path, method: :delete, class: %w(btn btn-default toggleDeals)
    %table.book
      %tr
        %th{style: "width: 3em;"} 登録
        = display_account_entry_header
      - for entry in @source.entries
        - selected = @source.selected_deal_ids.include?(entry.deal_id)
        %tr
          %td{style: selected ? nil: "background-color: #dddddd;"}
            = check_box_tag("source[deal_ids][#{entry.deal.id}]", "1", selected, :onClick => "settlement.toggle(this, #{entry.amount})", data: {amount: entry.amount})
          = display_account_entry entry, selected ? "" : "style='background-color: #dddddd;'"
        - if selected
          - debtor_sum += entry.amount if entry.amount < 0
          - creditor_sum += entry.amount.abs if entry.amount >= 0
      %tr
        %td{colspan: 6}
        %td.amount
          #debtor_sum= number_with_delimiter(debtor_sum*-1) if debtor_sum < 0
        %td.amount
          #creditor_sum= number_with_delimiter(creditor_sum) if creditor_sum > 0
      %tr
        %td{colspan: 3} 精算内容
        %td{colspan: 5, style: "text-align:center;"}
          - if debtor_sum == creditor_sum
            %div 精算は発生しません。
          - else
            %table
              %tr
                %th 精算データ名:
                %td= text_field :source, :name
              %tr
                %th コメント:
                %td= text_area :source, :description, rows: 3
              %tr
                %th 精算予定日:
                %td
                  = "#{@source.paid_on.year}年"
                  = "#{@source.paid_on.month}月"
                  = select_day(@source.paid_on, :prefix => 'source[paid_on]')
                  日
              %tr
                %th 精算内容
                %td
                  #settlementSummary
                    = @account.name
                    %span#target_description= debtor_sum + creditor_sum < 0 ? 'に' : 'から'
                    = select_account('source', 'target_account_id', asset_kinds{|attributes| attributes[:banking]}, false)
                    - if debtor_sum + creditor_sum < 0
                      %span#result= " から #{number_with_delimiter((debtor_sum + creditor_sum) * (-1)) }円　を入金する。"
                    - else
                      %span#result= " に #{number_with_delimiter(creditor_sum + debtor_sum)}円 が入金される。"
            = submit_tag('精算データを登録する', class: %w(btn btn-primary), id: :submit_settlement)
  - # TODO: とりあえずJSをやめる
  #settlement_sums{data: {debtor_sum: debtor_sum * -1, creditor_sum: creditor_sum}}

