<% debtor_sum = 0 %>
<% creditor_sum = 0 %>

<div><%= format_date(@start_date)%>から <%= format_date(@end_date)%>の <%= @settlement.account.name %> の未精算取引 は 全<%= @deals.size %>件あります。</div>
<% unless @entries.empty? %>
<div>
  <table class="book">
    <tr>
      <th style="width: 3em;">登録</th>
      <th class="date">年月日</th>
      <th> </th>
      <th class="summary">摘要</th>
      <th class="account"></th>
      <th>出金</th><th>入金</th>
    </tr>
    <% for entry in @entries %>
      <% selected = @selected_deals.include?(entry.deal) %>
      <% style = selected ? "" : "style=\"background-color: #dddddd;\""%>
      <tr>
        <td <%= style%>>
          <%= check_box_tag("settlement[deal_ids][#{entry.deal.id}]", "1", selected, :onClick => "settlement.toggle(this, #{entry.amount})")%>
        </td>
        <%= display_account_entry entry, style%>
      </tr>
      <% if selected %>
        <% debtor_sum += entry.amount if entry.amount < 0 %>
        <% creditor_sum += entry.amount.abs if entry.amount >= 0 %>
      <% end %>
    <% end %>
    <tr>
      <td colspan="5"></td>
      <td class="amount"><div id='debtor_sum'><%= number_with_delimiter(debtor_sum*-1) if debtor_sum < 0 %></div></td>
      <td class="amount"><div id='creditor_sum'><%= number_with_delimiter(creditor_sum) if creditor_sum > 0%></div></td>
    </tr>
    <tr>
      <td colspan="3">精算内容</td>
      <td colspan="4" style="text-align:center;">
        <% if debtor_sum == creditor_sum %>
          <div>精算は発生しません。</div>
        <% else %>
        <table>
          <tr>
            <th>精算データ名:</th><td><%= text_field 'settlement', 'name' %></td>
          </tr>
          <tr>
            <th>コメント:</th><td><%= text_area('settlement', 'description', :rows => 3)%></td>
          </tr>
          <tr>
            <th>精算予定日:</th><td><%= select_date(Date.today, :use_month_numbers => true, :prefix => 'result_date')%></td>
          </tr>
          <tr>
            <th>精算内容</th>
            <td>
              <div id="settlementSummary">
              <%= @settlement.account.name %>
              <span id="target_description"><%= debtor_sum + creditor_sum < 0 ? 'に' : 'から' %></span>
              <%= select_account('settlement', 'result_partner_account_id', asset_kinds{|attributes| attributes[:banking]}, true)%>
              <% if debtor_sum + creditor_sum < 0 %>
                <span id="result"> から <%= number_with_delimiter((debtor_sum + creditor_sum) * (-1)) %>円　を入金する。</span>
              <% else %>
                <span id="result"> に <%= number_with_delimiter(creditor_sum + debtor_sum)%>円 が入金される。</span>
              <% end %>
              </div>
            </td>
          </tr>
        </table>
          
          <%= submit_tag('精算データを登録する', :class => 'button')%>
        <% end %>
      </td>
    </tr>
  </table>
</div>
<% javascript_tag do %>
  settlement.debtorSum = <%= debtor_sum * -1 %>;
  settlement.creditorSum = <%= creditor_sum %>;
<% end %>


<% end %>

