<div id="settlements">
    <% if flash[:notice] %>
      <div><%= flash[:notice]%></div>
    <% end %>
    <%= form_tag settlements_path, :method => :get, :id => 'account_form' do %>
    <div id="account_options">
      <%= select_tag :account_id, options_for_select([['すべて', 'all']] + @credit_accounts.map{|a| [a.name_with_asset_type, a.id]}, @account.try(:id).to_s) %>
    </div>
    <% end %>

    <% if @settlements.empty? %>
      <p>精算データはありません。</p>
    <% else %>
      <table class="book">
        <tr>
          <th class="date">精算日</th>
          <th>精算データ名</th>
          <th>精算対象口座</th>
          <th>対象取引数</th>
          <th class="amount">精算額</th>
          <th>登録日時</th>
      <th>状態</th>
          <th>詳細</th>
        </tr>
        <%= render :partial => 'settlement', :collection => @settlements %>
      </table>
    <% end %>
</div>
<%= javascript_tag do %>
jQuery(document).ready(function($){
  $('#account_id').change(function(){
    var url = $('#account_form').attr('action')
    if (this.value != '') {
      url += "/accounts/" + this.value
    }
    window.location.href = url
    return false
  })
});
<% end %>