<%= flash_notice %>
<div>
  <div>
  	<%= link_to '一覧に戻る', settlements_path %>
	<% if @settlement.deletable? %>
    | <%= link_to '削除', settlement_path(:id => @settlement.id), :method => :delete, :confirm => "精算データを削除すると、精算結果の取引も自動的に削除されます。精算データを削除してよろしいですか？" %>
	<% end %>
　　</div>
  <br />
  <table>
    <tr>
      <th>精算データ名</th>
      <td><%= h @settlement.name %></td>
    </tr>
    <tr>
      <th>精算対象口座</th>
      <td><%= h @settlement.account.name %></td>
    </tr>
    <tr>
      <th>登録日時</th>
      <td><%= format_date @settlement.created_at %></td>
    </tr>
  </table>

  <% if @settlement.kind_of?(SubmittedSettlement) %>
    <div style="text-align:center; font-weigt: bold;">この精算は<%= h @settlement.resource.user.login %>さんから提出されたことによりできたものです。</div>
		<% # 確定状態 %>
		<div style="text-align:center;">
		  <% if @settlement.all_confirmed? -%>
			  この精算は確認済です。
		  <% else -%>
			  この精算には未確認の取引が含まれています。
			<% end -%>
		</div>
  <% end %>
  <% if @settlement.submitted_settlement %>
    <div style="text-align:center; font-weigt: bold;">この精算は<%= h @settlement.submitted_settlement.user.login %>さんに提出済です。削除するには先方に取消を依頼してください。</div>
  <% end %>


  <h3>精算対象</h3>  
  <table class="book">
    <tr>
      <%= display_account_entry_header %>
      <th class="icon_to_deal"></th>
    </tr>
    <% for target_entry in @settlement.target_entries %>
      <tr>
        <%= display_account_entry(target_entry)%>
        <td class="icon_to_deal"><%= icon_to_deal_in_monthly(target_entry.year, target_entry.month, target_entry.deal_id) %></td>
      </tr>
    <% end %>
    <% #target_entries の合計がプラスであるときに出す %>
    <% if @settlement.target_sum > 0 %>
    <tr>
      <td colspan="7">
      <% unless @settlement.kind_of?(SubmittedSettlement)%>
        <%= link_to '立替経費精算依頼書', print_form_settlement_path(:id => @settlement), :popup => true %>
        |
        <%= link_to 'csv', print_form_settlement_path(:id => @settlement, :format => 'csv'), :popup => true %>
	    |
		<% if @settlement.result_entry %>
	    <% if @settlement.submitted_settlement_id.blank? && @settlement.account.destination_account %>
	      <%= button_to "この精算を#{@settlement.account.destination_account.user_login}さんに提出済にする", submit_settlement_path(:id => @settlement), :method => :put, :class => 'button', :confirm => "この精算内容を#{@settlement.account.destination_account.user_login}さんに提出済の状態にします。以後、#{@settlement.account.destination_account.user_login}さんがこの精算の提出を取り消すまで、こちらからは変更、削除、提出の取消が行えなくなります。提出済にしてよろしいですか？" %>
	    <% end %>
		<% end %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <h3>精算結果</h3>
  <% unless @settlement.result_entry %>
  <div style="color:red; font-weight: bold;">データが破損しています。精算取引がありません。管理者に連絡してください。</div>
  <% else %>
  <table class="book">
    <tr>
      <%= display_account_entry_header %>
      <th class="icon_to_deal"></th>
    </tr>
    <tr>
      <%= display_account_entry(@settlement.result_entry)%>
      <td class="icon_to_deal"><%= icon_to_deal_in_monthly(@settlement.result_entry.year, @settlement.result_entry.month, @settlement.result_entry.deal_id) %></td>
    </tr>
  </table>
  <% end %>
</div>