<div class="top_box">
  <div class="form_box">
      <p class="guide">
        <span>受け皿設定を行うと、取引連携で自動的に記入される場合の受け皿口座とすることができます。</span><br /><br />
        <span> フレンドと取引連動については、<%= link_to("ヘルプの「フレンドの項」", :controller => 'help', :action => 'functions', :anchor => "friend")%>に詳しいのでご参照ください。</span>
      </p>
  </div>
</div>
<%= render :partial => 'shared/information' %>
<div class="bottom_box">
  <table class="masters">
    <tr>
      <th>対象</th>
      <th>受け皿口座</th>
    </tr>
    <% for account in @accounts %>
      <tr>
        <td><%= h account.name_with_asset_type %></td>
        <td>
          <% form_for :account, :object => account, :url => settings_partner_account_path(:account_id => account.id), :html => {:method => :put} do |f| %>

            <%= f.select :partner_account_id, "<option value=''>-- 設定なし --</option>" + options_from_collection_for_select(
                @partner_account_candidates[account], "id", "name_with_asset_type", account.partner_account_id), {}, :style => "width:16em;" %>
            <%= f.submit '更新', :class => 'button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>