<%= focus_on('login') %>

<% form_tag login_post_path do -%>
<p><label for="login"><%= _('Login') %></label><br/>
<%= text_field_tag 'login', flash[:login] %></p>

<p><label for="password"><%= _('Password') %></label><br/>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<p><%= submit_tag _('Log in'), :onclick => "if ($F('login')=='') {alert('ログインIDを入力してください。'); return false;}if ($F('password')=='') {alert('パスワードを入力してください。'); return false;}" %></p>

<p><%= link_to 'ユーザー登録', signup_path %>  <%= link_to 'パスワードを忘れたとき', forgot_password_path %></p>

<% end -%>

<div class="information">
  <h3>お知らせ</h3>
  <%= news %>
  <%= link_to '小槌.netへ', 'http://www.kozuchi.net' %>
</div>

<div id="features">
<h3>小槌の特徴</h3>
<%= render(:partial => 'shared/features') %>
</div>