<%
  # locals に member_path を指定すること
  # :as が使えるようになるまで
  account = flow_account
%>
<tr>
  <td>
    <%= text_field("account[]", "name", :class => "text", :object => account) %>
    <% unless account.errors.empty? %>
      <div class="error"><%= error_message account %></div>
    <% end %>
  </td>
  <td><%= text_field("account[]", "sort_key", :size => 2, :class => 'number', :object => account) %></td>
  <% if account == @accounts.first %>
    <td rowspan="<%= @accounts.size %>" class="button_action"><button type="submit">変更</button></td>
  <% end %>
  <td class="button_action">
    <% if account.deletable? %>
      <%= link_to "削除", send(member_path, :id => account.id), :method => :delete, :data => {:confirm => "「#{account.errors.empty? ? account.name : account.stored_name}」を削除します。よろしいですか？"} %>
    <% else %>
      <% delete_error_message = account.delete_errors.join('\n')%>
      <span>×(<a href='javascript:alert("<%= delete_error_message %>");'>理由</a>)</span>
    <% end %>
  </td>
</tr>
