.top_box
  .form_box
    = form_tag settings_friend_acceptance_path do
      %label{for: "target_login"} ユーザーID
      = text_field_tag :target_login, flash[:target_login]
      %button{type: "submit"} フレンドを登録する
    %p.guide
      フレンドと取引連動については、
      = link_to("ヘルプの「フレンドの項」", :controller => '/help', :action => 'functions', :anchor => "friend")
      に詳しいのでご参照ください。

.bottom_box
  - unless @requests.empty?
    %h3 フレンド申請
    %p
      = current_user.login
      さんへのフレンド申請が
      = @requests.size
      件あります。

    %table.listing
      - for r in @requests
        %tr
          %td
            %span.userName= r.sender.login
            さんからのフレンド申請
          %td.timestamp= r.created_at.to_formatted_s(:db)
          %td
            = link_to('承諾', settings_friend_acceptance_path(:target_login => r.sender.login), :method => :post)
            = link_to('拒否', settings_friend_rejection_path(:target_login => r.sender.login), :method => :post)

  %h3 登録されているフレンド
  - if @acceptances.empty?
    %p フレンドは登録されていません。
  - else
    %p
      = @acceptances.size
      人のフレンドが登録されています。
    %table.listing
      - for a in @acceptances
        %tr
          %td
            %span.userName= a.target.login
            さん
          %td
            = '-'
            - if a.accepted_by_target?
              相手からもフレンド登録されています
            - else
              相手からフレンド登録されるまで連携書き込みはできません
          %td= link_to "削除", settings_friend_acceptance_path(:target_login => a.target.login), :method => :delete, :data => {:confirm => "#{h a.target.login}さんをフレンドから削除します。よろしいですか？"}

  - unless @rejections.empty?
    %h3 フレンド関係の拒否
    %p
      = current_user.login
      さんがフレンド関係を拒否したユーザーが
      = @rejections.size
      名います。

    %table.listing
      - for r in @rejections
        %tr
          %td
            %span.userName= r.target.login
            さん
          %td= link_to "撤回", settings_friend_rejection_path(:target_login => r.target.login), :method => :delete, :data => {:confirm => "#{h r.target.login}さんへのフレンド関係拒否を撤回します。相手をフレンドに登録したり、相手からのフレンド申請を見ることができるようになります。撤回してよろしいですか？"}
