<div class="top_box">
  <div class="form_box">
    <% form_tag settings_friend_acceptance_path do %>
      <label for="target_login">ユーザーID</label><%= text_field_tag :target_login, flash[:target_login] %>
      <button type="submit">フレンドを登録する</button>
    <% end %>
    <p class="guide">
    フレンドと取引連動については、<%= link_to("ヘルプの「フレンドの項」", :controller => '/help', :action => 'functions', :anchor => "friend")%>に詳しいのでご参照ください。</p>
  </div>
</div>
<%= render :partial => 'shared/information' %>
<div class="bottom_box">
  <% unless @requests.empty? %>
    <h3>フレンド申請</h3>
    <p><%= h current_user.login %>さんへのフレンド申請が<%= @requests.size %>件あります。</p>
    <table class="listing">
      <% for r in @requests %>
        <tr>
          <td><span class="userName"><%= h r.sender.login %></span>さんからのフレンド申請</td>
          <td class="timestamp"><%= r.created_at.to_formatted_s(:db) %></td>
          <td>
            <%= link_to('承諾', settings_friend_acceptance_path(:target_login => r.sender.login), :method => :post) %>
            <%= link_to('拒否', settings_friend_rejection_path(:target_login => r.sender.login), :method => :post) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <h3>登録されているフレンド</h3>
  <% if @acceptances.empty? %>
    <p>フレンドは登録されていません。</p>
  <% else %>
    <p><%= @acceptances.size %>人のフレンドが登録されています。</p>
    <table class="listing">
      <% for a in @acceptances %>
      <tr>
        <td><span class="userName"><%= h a.target.login %></span>さん</td>
        <td>
          -
          <% if a.accepted_by_target? %>
            相手からもフレンド登録されています
          <% else %>
            相手からフレンド登録されるまで連携書き込みはできません
          <% end %>
        </td>
        <td><%= link_to "削除", settings_friend_acceptance_path(:target_login => a.target.login), :method => :delete, :confirm => "#{h a.target.login}さんをフレンドから削除します。よろしいですか？" %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  <% unless @rejections.empty? %>
    <h3>フレンド関係の拒否</h3>
    <p><%= h current_user.login %>さんがフレンド関係を拒否したユーザーが<%= @rejections.size %>名います。</p>
    <table class="listing">
      <% for r in @rejections %>
        <tr>
          <td><span class="userName"><%= h r.target.login %></span>さん</td>
          <td><%= link_to "撤回", settings_friend_rejection_path(:target_login => r.target.login), :method => :delete, :confirm => "#{h r.target.login}さんへのフレンド関係拒否を撤回します。相手をフレンドに登録したり、相手からのフレンド申請を見ることができるようになります。撤回してよろしいですか？" %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>