<!-- 通信欄-->
<% if flash[:notice] || flash[:notice].to_s != ""%>
  <div id="notice"><%= h flash[:notice]%></div>
<% end %>

<div class="title"><%= "#{@year}年#{@month}月末日の収支表"%></div>

<div class="table_block">
  <div class="left">
    <!-- 支出一覧 -->
    <table class="book">
      <tr><th colspan="3">支出</th><th class="amount" style="text-align:center;">前月</th></tr>
		<%= render :partial => 'flow', :collection => @expense_flows, :locals => {:previous => true} %>
    </table>
  </div>
  <div class="right">
    <!-- 収入一覧 -->
      <table class="book">
        <tr><th colspan="3">収入</th><th class="amount" style="text-align:center;">前月</th></tr>
		<%= render :partial => 'flow', :collection => @income_flows, :locals => {:previous => true} %>
     </table>
  </div>
</div>

<div class="table_block">
  <div class="left">
    <!-- 支出合計 -->
    <table class="book">
      <tr>
        <td>支出合計</td>
        <td class="amount"><%= number_with_delimiter(@expense_flows.sum)%></td>
        <td class="previous_month amount"><%= number_with_delimiter(@expense_flows.previous_sum)%></td>
      </tr>
    </table>
  </div>

  <div class="right">
      <!-- 収入合計 -->
      <table class="book">
        <tr>
          <td>収入合計</td>
          <td class="amount"><%= number_with_delimiter(@income_flows.sum)%></td>
          <td class="previous_month amount"><%= number_with_delimiter(@income_flows.previous_sum)%></td>
        </tr>
      </table>
  </div>
</div>

<div class="table_block">
  <div class="left"><div class="graph">
    <%= pie_graph(@expense_flows.select{|f| f.percentage }, :percentage, :name, :flow, nil, 'left_pie') %>
  </div></div>
  <div class="right"><div class="graph">
    <%= pie_graph(@income_flows.select{|f| f.percentage }, :percentage, :name, :flow, nil, 'right_pie') %>
  </div></div>
</div>

<div class="table_block">
  <br />
  <div class="result">
    <div class="<%= @profit >= 0 ? "profit" : "loss" %>">
      <span><%= @profit >= 0 ? "利益" : "損失" %>合計</span>
      <span class="amount"><%= number_with_delimiter(@profit.abs)%>円</span>
    </div>
  </div>
</div>

<!-- 資産の増減 -->
<div class="table_block">
  <div class="left">
    <table class="book">
      <tr>
        <th colspan="2">資産減少</th>
      </tr>
	  <%= render :partial => 'flow', :collection => @asset_minus_flows %>
    </table>
  </div>
  <div class="right">
    <table class="book">
      <tr>
        <th colspan="2">資産増加</th>
      </tr>
	  <%= render :partial => 'flow', :collection => @asset_plus_flows %>
    </table>
  </div>
</div>

<div class="table_block">
  <div class="left">
    <table class="book">
      <tr>
        <td>減少合計</td>
        <td class="amount"><%= number_with_delimiter(@asset_minus_flows.sum)%></td>
      </tr>
    </table>
  </div>
  <div class="right">
    <table class="book">
      <tr>
        <td>増加合計</td>
        <td class="amount"><%= number_with_delimiter(@asset_plus_flows.sum)%></td>
      </tr>
    </table>
  </div>
</div>
