<h2><%= h @account.name %></h2>
<p><%= Date.today.to_s(:db) %>の残高</p>
<p class="amount resultAmount"><%= @account.balance_before(Date.today + 1) %>円</p>

<div>
  <% form_tag({:controller => "account_deals", :action => "balance", :account_id => nil}, {:method => :get}) do %>
  <%= select_tag :account_id, options_from_collection_for_select(current_user.assets, :id, :name) %>
  <%= submit_tag "表示" %>
  <% end %>
</div>

<div><%= link_to "HOME", url_for(hash_for_home_path) %></div>