<%= render(:partial => "shared/calendar", :object => 'account_options', :locals => {:year => @year, :month => @month, :url_method => :monthly_account_deals_path, :url_params => {:account_id => @account.id}}) %>

<% deal_type = flash[:"#{controller_name}_deal_type"] %>

<% deal_editor 2, @year, @month, @day do %>
  <%= render :partial => deal_type ? "new_#{deal_type}" : 'new_creditor_general_deal' %>
<% end %>

  <%= javascript_tag <<-END
  function onGeneralDealSelectedFromGeneral(summary, amount, minus_account_id, plus_account_id) {
  $('deal_debtor_entries_attributes_0_amount').value = amount;
  selectList('deal_creditor_entries_attributes_0_account_id', minus_account_id);
  selectList('deal_debtor_entries_attributes_0_account_id', plus_account_id);
  $('deal_summary').value = summary;
  }

  function selectList(name, value) {
    if (!$(name) || !$(name).options) {
      return;
    }
    for (i = 0; i < $(name).options.length; i++) {
      if ($(name).options[i].value == value) {
        $(name).options.selectedIndex = i;
        return;
      }
     }
  }
  END
  %>

<div id="monthly_contents">

  <!-- 通信欄-->
  <% if flash[:notice] || flash[:notice].to_s != ""%>
    <div id="notice"><%=flash[:notice]%></div>
  <% end %>
  <div class="title"><%= h @account.name %>の出納一覧（<%= @year %>年<%= @month %>月）</div>
  <table class="book_header">
    <tr>
      <th class="date">日付</th>
      <th class="number"> </th>
      <th>摘要</th>
      <th class="account">　</th>
      <th class="amount">
        <% if bookkeeping_style? %>
          借方
        <% elsif @account.kind_of?(Account::Asset) -%>
          入金
        <% elsif @account.kind_of?(Account::Income) -%>
          戻し
        <% else -%>
          支出
        <% end -%>
      </th>
      <th class="amount">
        <% if bookkeeping_style? %>
          貸方
        <% elsif @account.kind_of?(Account::Asset) -%>
          出金
        <% elsif @account.kind_of?(Account::Income) -%>
          収入
        <% else -%>
          戻し
        <% end -%>
      </th>
      <th class="amount">
        <% if bookkeeping_style? || @account.kind_of?(Account::Asset) -%>
          残高
        <% else %>
          合計
        <% end -%>
      </th>
      <th class="icon_to_deal">
      </th>
    </tr>
  </table>
  <% if @account.kind_of?(Account::Asset) -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td>期首残高</td>
        <td class="amount"><%= number_with_delimiter(@balance_start) %></td>
        <td class="icon_to_deal"></td>
      </tr>
    </table>
  <% end -%>
  <table class="book">
    <% for entry in @entries %>
      <% if entry.balance? %>
        <tr class="balance_line">
          <td class="date"><%= format_date(entry.deal.date) %></td>
          <td class="number"><%=entry.deal.daily_seq%></td>
          <td>残高確認</td>
          <td class="account">不明金</td>
          <td class="amount"><%= number_with_delimiter(entry.unknown_amount) if entry.unknown_amount >= 0%></td>
          <td class="amount"><%= number_with_delimiter(entry.unknown_amount.abs) if entry.unknown_amount < 0%></td>
          <td class="amount"><%= number_with_delimiter(@account.kind_of?(Account::Asset) ? entry.balance : (@account.kind_of?(Account::Income) ? entry.flow_sum * -1 : entry.flow_sum))%></td>
          <td class="icon_to_deal"></td>
        </tr>
      <% else %>
        <tr <%= 'class="unconfirmed"' if !entry.deal.confirmed? %>>
          <td class="date"><%= format_date(entry.date) %></td>
          <td class="number"><%= entry.daily_seq%></td>
          <td><%= '<span class="system">未確定</span>' if !entry.deal.confirmed? %><%= h entry.deal.summary%></td>
          <td class="account"><%= h entry.partner_account_name %></td>
          <td class="amount"><%= number_with_delimiter(entry.amount) if entry.amount >= 0 %></td>
          <td class="amount"><%= number_with_delimiter(entry.reversed_amount) if entry.amount < 0 %></td>
          <td class="amount"><%= entry.deal.confirmed ? number_with_delimiter(@account.kind_of?(Account::Asset) ? entry.balance_estimated : (@account.kind_of?(Account::Income) ? entry.flow_sum * -1 : entry.flow_sum)) : '*' %></td>
          <td class="icon_to_deal"><%= icon_to_deal_in_monthly entry.date.year, entry.date.month, entry.deal_id %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if @account.kind_of?(Account::Asset) -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td >期末残高</td>
        <td class="amount"><%= number_with_delimiter(@balance_end) %></td>
        <td class="icon_to_deal"></td>
      </tr>
    </table>
  <% else -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td >期末合計</td>
        <td class="amount"><%= number_with_delimiter(@account.kind_of?(Account::Income) ? @flow_end * -1 : @flow_end) %></td>
        <td class="icon_to_deal"></td>
    </tr>
    </table>
  <% end -%>

</div>
