    <%= render (:partial => "shared/calendar", :object => 'account_options') %>

    <div id="monthly_contents">

      <!-- 通信欄-->
      <% if flash[:notice] || flash[:notice].to_s != ""%>
        <div id="notice"><%=flash[:notice]%></div>
      <% end %>
      <div class="title"><%= h @account.name %>の出納一覧（<%= @year %>年<%= @month %>月）</div>
      <table class="book_header">
        <tr>
          <th class="date">日付</th>
          <th class="number"> </th>
          <th>摘要</th>
          <th class="account">　</th>
          <th class="amount">
          	  <% if @account.kind_of?(Account::Asset) -%>
			    入金
			  <% elsif @account.kind_of?(Account::Income) -%>
			    収入
			  <% else -%>
			    支出
			  <% end -%>
		  </th>
          <th class="amount">
          	  <% if @account.kind_of?(Account::Asset) -%>
			    出金
			  <% elsif @account.kind_of?(Account::Income) -%>
			    戻し
			  <% else -%>
			    戻し
			  <% end -%>
		  </th>
          <th class="amount">
          	  <% if @account.kind_of?(Account::Asset) -%>
			    残高
			  <% else %>
			    合計
			  <% end -%>
		  </th>
        </tr>
      </table>
      <table class="book">
        <tr>
          <td class="date"> </td>
          <td class="number"> </td>
          <td>期首残高</td>
          <td class="amount"><%= number_with_delimiter(@balance_start) %></td>
        </tr>
      </table>
      <table class="book">
        <% for entry in @account_entries %>
          <% if entry.balance %>
            <tr class="balance_line">
              <td class="date"><%= format_date(entry.deal.date) %></td>
              <td class="number"><%=entry.deal.daily_seq%></td>
              <td>残高確認</td>
              <td class="account">不明金</td>
              <td class="amount"><%= number_with_delimiter(entry.unknown_amount) if entry.unknown_amount >= 0%></td>
              <td class="amount"><%= number_with_delimiter(entry.unknown_amount.abs) if entry.unknown_amount < 0%></td>
              <td class="amount"><%= number_with_delimiter(entry.balance)%></td>
            </tr>
          <% else %>
            <tr <%= 'class="unconfirmed"' if !entry.deal.confirmed %>>
              <td class="date"><%= format_date(entry.deal.date) %></td>
              <td class="number"><%= entry.deal.daily_seq%></td>
              <td><%= '<span class="system">未確定</span>' if !entry.deal.confirmed %><%= h entry.deal.summary%></td>
              <td class="account"><%= h entry.account.name %></td>
              <td class="amount"><%= number_with_delimiter(entry.amount.abs) if entry.amount < 0 && !entry.balance%></td>
              <td class="amount"><%= number_with_delimiter(entry.amount) if entry.amount >= 0 && !entry.balance %></td>
              <td class="amount"><%= entry.deal.confirmed ? number_with_delimiter(entry.balance_estimated) : '*' %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <table class="book">
        <tr>
          <td class="date"> </td>
          <td class="number"> </td>
          <td >期末残高</td>
          <td class="amount"><%= number_with_delimiter(@balance_end) %></td>
        </tr>
      </table>

    </div>
