<%= render(:partial => "shared/calendar", :object => 'account_options', :locals => {:year => @year, :month => @month, :url_method => :monthly_account_deals_path, :url_params => {:account_id => @account.id}}) %>

<% if @account.kind_of?(Account::Asset) && @account.any_credit? %>
<div class="navigation"><%= link_to '新しい精算を作成する', new_settlement_path %></div>
<% end %>

<div id="day_navigator_frame">
  <%= render :partial => 'shared/day_navigator', :locals => {:data => @account_entries.entries} %>
</div>

<div id="deals_frame">
<% deal_type = flash[:"#{controller_name}_deal_type"] %>

<%= deal_editor 2, @year, @month, @day do %>
  <%= render :partial => deal_type ? "new_#{deal_type}" : 'new_creditor_general_deal' %>
<% end %>

  <%= javascript_tag <<-END
  function onGeneralDealSelectedFromGeneral(summary, amount, minus_account_id, plus_account_id) {
  $('deal_debtor_entries_attributes_0_amount').value = amount;
  selectList('deal_creditor_entries_attributes_0_account_id', minus_account_id);
  selectList('deal_debtor_entries_attributes_0_account_id', plus_account_id);
  $('deal_summary').value = summary;
  }

  function selectList(name, value) {
    if (!$(name) || !$(name).options) {
      return;
    }
    for (i = 0; i < $(name).options.length; i++) {
      if ($(name).options[i].value == value) {
        $(name).options.selectedIndex = i;
        return;
      }
     }
  }
  END
  %>

<div id="monthly_contents">

  <!-- 通信欄-->
  <% if flash[:notice].present? %>
    <div id="notice"><%=flash[:notice]%></div>
  <% end %>
  <div class="title"><%= h @account.name %>の出納一覧（<%= @year %>年<%= @month %>月）</div>
  <table class="book_header">
    <tr>
      <th class="date">日付</th>
      <th class="number"> </th>
      <th>摘要</th>
      <th class="account">　</th>
      <th class="amount">
        <% if bookkeeping_style? %>
          借方
        <% elsif @account.kind_of?(Account::Asset) -%>
          入金
        <% elsif @account.kind_of?(Account::Income) -%>
          戻し
        <% else -%>
          支出
        <% end -%>
      </th>
      <th class="amount">
        <% if bookkeeping_style? %>
          貸方
        <% elsif @account.kind_of?(Account::Asset) -%>
          出金
        <% elsif @account.kind_of?(Account::Income) -%>
          収入
        <% else -%>
          戻し
        <% end -%>
      </th>
      <th class="amount">
        <% if bookkeeping_style? || @account.kind_of?(Account::Asset) -%>
          残高
        <% else %>
          合計
        <% end -%>
      </th>
      <th class="icon_to_deal">
      </th>
    </tr>
  </table>
  <% if @account.kind_of?(Account::Asset) -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td>期首残高</td>
        <td class="amount"><%= number_with_delimiter(@account_entries.balance_start) %></td>
        <td class="icon_to_deal"></td>
      </tr>
    </table>
  <% end -%>
  <table class="book">
    <% date = Date.new(@year.to_i, @month.to_i, 1) %>
    <%
      balance_start = @account.kind_of?(Account::Asset) ? @account_entries.balance_start : 0
      sign = @account.kind_of?(Account::Income) ? -1 : 1
    %>
    <% for entry in @account_entries.entries %>
      <%= content_tag :tr, :class => entry.balance? ? 'balance_line' : (entry.deal.confirmed? ? nil : 'unconfirmed') do %>
        <!-- date -->
        <td class="date">
          <% while date <= entry.date %>
            <%= day_anchor date %>
            <% date += 1 %>
          <% end %>
          <%= l entry.date %>
          <% if @account_entries.entries.last == entry %>
            <% while date.month == entry.date.month %>
              <%= day_anchor date %>
              <% date += 1 %>
            <% end %>
          <% end %>
          <% unless entry.deal.confirmed? %>
            <br /><span class="system">未確定</span>
          <% end %>
        </td>
        <!-- number -->
        <td class="number">
          <%= render 'shared/deal_note', :deal => entry.deal %>
          <%= content_tag :a, entry.deal.daily_seq, :name => entry.id %>
        </td>
        <!-- summary -->
        <td><%= entry.summary %></td>
        <td class="account"><%= entry.partner_account_name %></td>
        <td class="amount"><%= number_with_delimiter(entry.amount) if entry.amount >= 0 && !entry.initial_balance? %></td>
        <td class="amount"><%= number_with_delimiter(entry.reversed_amount) if entry.amount < 0 && !entry.initial_balance? %></td>
        <td class="amount"><%= entry.deal.confirmed ? number_with_delimiter(balance_start + (entry.pure_balance * sign)) : '*' %></td>
        <td class="icon_to_deal"><%= icon_to_deal_in_monthly entry.date.year, entry.date.month, entry.deal_id %></td>
      <% end %>
    <% end %>
  </table>
  <% if @account.kind_of?(Account::Asset) -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td >期末残高</td>
        <td class="amount"><%= number_with_delimiter(@account_entries.balance_end) %></td>
        <td class="icon_to_deal"></td>
      </tr>
    </table>
  <% else -%>
    <table class="book">
      <tr>
        <td class="date"> </td>
        <td class="number"> </td>
        <td >期末合計</td>
        <td class="amount"><%= number_with_delimiter(@account_entries.pure_balance_end) %></td>
        <td class="icon_to_deal"></td>
    </tr>
    </table>
  <% end -%>

</div>

</div>
<%= javascript_tag do %>
  jQuery(document).ready(function($) {
    // if hash is set, add class (works only when loaded)
    if (location.hash.match(/^#[0-9]+$/)) {
      $("tr:has(a[name='" + location.hash.replace('#', '') + "'])").addClass("updated_line")
    }
    $(window).hashchange(function() {
      $("tr").removeClass("updated_line")
      if (location.hash.match(/^#[0-9]+$/)) {
        $("tr:has(a[name='" + location.hash.replace('#', '') + "'])").addClass("updated_line")
      }
    })

    $('td.number').mouseover(function() {
      $('.timestamps', this).show()
    })
    $('td.number').mouseout(function() {
      $('.timestamps', this).hide()
    })
  })
<% end %>
