%tr
  %td
    = text_field "account[]", "name", class: %w(text form-control), object: account
    - unless account.errors.empty?
      .error= error_message account
  - if @account_class.has_kind?
    %td
      = select 'account[]', :asset_kind, @asset_kinds_options_container, {object: account}, class: %w(form-control)
  %td
    = link_to '詳しい設定', url_for(action: :show, id: account.id), class: %w(btn btn-info)
    %div
      - if account.linked?
        .label.label-warning 取引連動中
      - unless account.active?
        .label.label-default 利用停止中
  %td= text_field "account[]", "sort_key", size: 2, class: %w(number form-control), object: account
  %td.button_action{style: "width: 100px;"}
    - if account.deletable?
      = link_to "削除", send("settings_#{account.class.model_name.element}_path", id: account.id), class: %w(btn btn-danger), method: :delete, data: {confirm: "「#{account.errors.empty? ? account.name : account.stored_name}」を削除します。よろしいですか？"}
    - else
      %button.btn.btn-default.disabled 削除
      %a.reason{href: "#", data: {reason: account.delete_errors.join('\n')}}
        %span.glyphicon.glyphicon-question-sign
