.container-fluid
  %ul.nav.nav-tabs.account_tabs{role: "tablist"}
    - Account::Base.types.each do |klass|
      %li{class: klass == @account_class ? :active : nil}= link_to klass.human_name, send("settings_#{klass.model_name.element.pluralize}_path")
  .row
    .col-md-9
      .bottom_box
        = form_tag url_for, method: :put do
          .pull-right
            %button.btn.btn-primary{type: "submit"} 変更内容を反映する
            = link_to "編集を中止して再表示", url_for, class: %w(btn btn-default)
          %table.table.accounts
            %tr
              %th= "#{@account_class.human_name}名"
              - if @account_class.has_kind?
                %th 種別
              %th 詳細
              %th 並び順
              %th 削除
            = render partial: "account", collection: @accounts, as: :account

    .col-md-3
      = render :partial => "new_form"
