.col-sm-offset-1
  %p
    = link_to '一覧へ戻る', action: :index
.panel.panel-default.col-sm-offset-1.col-sm-10
  .panel-body
    = form_for :account, method: :patch, html: {class: "form-horizontal"} do |f|
      .form-group
        = f.label :name, class: "col-sm-3"
        .col-sm-9
          = @account.name
      - if @account.class.has_kind?
        .form-group
          = f.label :asset_kind, class: "col-sm-3"
          .col-sm-9
            = @account.human_asset_kind
      .form-group
        = f.label :active, class: "col-sm-3"
        .col-sm-9
          = f.check_box :active
      - if @account.any_credit?
        .form-group
          = f.label :settlement_order_asc, class: "col-sm-3"
          .col-sm-9
            = f.check_box :settlement_order_asc
      .form-group
        = f.label :description, class: "col-sm-3"
        .col-sm-9
          = f.text_area :description, rows: 5, class: "form-control"
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit "設定を更新する", class: %w(btn btn-primary)
