<%
  account = asset # TODO: :as対応まで
%>
<tr>
  <td>
    <%= text_field("account[]", "name", :class => "text", :object => account) %>
    <% unless account.errors.empty? %>
      <div class="error"><%= error_message account %></div>
    <% end %>
  </td>
  <td>
    <%= select 'account[]', :asset_kind, @asset_kinds_options_container, :object => account %>
  </td>
  <td>
    <% if account.account_rule %>
      <span class="system">精算ルール</span>
    <% end %>
    <% if !account.associated_account_rules.empty? %>
      <span class="system">精算口座</span>
    <% end %>
    <% if account.linked? %>
      <span class="system">取引連動</span>
    <% end %>
  </td>
  <td><%= text_field("account[]", "sort_key", :size => 2, :class => 'number', :object => account) %></td>
  <% if account == @accounts.first %>
    <td rowspan="<%= @accounts.size %>" class="button_action"><button type="submit">変更</button></td>
  <% end %>
  <td class="button_action">
    <% if account.deletable? %>
      <%= link_to "削除", settings_asset_path(:id => account.id), :method => :delete, :confirm => "「#{account.errors.empty? ? account.name : account.stored_name}」を削除します。よろしいですか？" %>
    <% else %>
      <% delete_error_message = account.delete_errors.join('\n')%>
      <span>×(<a href='javascript:alert("<%= delete_error_message %>");'>理由</a>)</span>
    <% end %>
  </td>
</tr>
