<div class="top_bottom">
  <div class="form_box">

    <% form_for :user, :action => 'edit' do |f| %>
      <div class="user_edit">
    	  <p><label>姓<br /><%= f.text_field :lastname %></label></p>
		  <p><label>名<br /><%= f.text_field :firstname %></label></p>
		  <p><label>ログインID<%= f.text_field :login, {:size => 30} %></label></p>
		  <p><label>パスワード<%= f.password_field :password %></label></p>
		  <p><label>パスワード（確認）<%= f.password_field :password %></label></p>
		  <p><label>Eメールアドレス<%= f.text_field :email %></label></p>
		  <p><%= submit_tag '変更' %></p>
      </div>
    <% end  %>
	<div>
      <%= link_to 'アカウントを削除する', {:action => 'destroy',}, { :confirm =>"アカウントとデータをすべて削除します。復活させることはできません。削除してよろしいですか？", :method => 'delete'} %>
	</div>

  </div>
</div>