- if defined?(SKIP_MAIL) && SKIP_MAIL
  %p
    現在、システムからメールを送信しない設定となっているため、Webからパスワード再設定をしていただくことができません。
    %br
    パスワードの再設定を管理者（
    = SUPPORT_EMAIL_ADDRESS
    ）まで依頼してください。
- else
  = focus_on 'email'
  .form
    .form-padding
      %p 登録されたEメールアドレスを入力してください。パスワード変更ができる画面へのURLをご案内します。
      - unless flash[:error].blank?
        %p.error= flash[:error]
      = form_tag deliver_password_notification_path do
        %p
          %label
            Eメールアドレス:
            = text_field_tag "email", '', "size" => 30
        %p
          = submit_tag 'パスワード変更を希望する', :onclick => "if ($('#email').val()=='') {alert('Eメールアドレスを入力してください。'); return false;}"
