.container-fluid
  - if defined?(SKIP_MAIL) && SKIP_MAIL
    %p
      現在、システムからメールを送信しない設定となっているため、Webからパスワード再設定をしていただくことができません。
      %br
      パスワードの再設定を管理者（
      = SUPPORT_EMAIL_ADDRESS
      ）まで依頼してください。
  - else
    = focus_on 'email'
    %p 登録されたEメールアドレスを入力してください。パスワード変更ができる画面へのURLをご案内します。
    .row
      .col-md-4.col-md-offset-8
        = form_tag deliver_password_notification_path do
          .form-group
            = label_tag :email, "Eメールアドレス"
            = text_field_tag "email", '', size: 30, class: 'form-control'
          .form-group
            = submit_tag 'パスワード変更を希望する', class: %w(btn btn-primary), onclick: "if ($('#email').val()=='') {alert('Eメールアドレスを入力してください。'); return false;}"
