<% content_for :css do %>
  <style>
  #aboutPrivacy
    {
      height:200px;
      line-height:3em;
      overflow:scroll;
      padding:5px;
      color:#714d03;
      margin-bottom:10px;
      border: solid 2px #e6e6e6;
    }
  </style>
<% end %>
<div id="main">
  <div class="box">
    <h2>ようこそ小槌へ！</h2>
    <% if @personal_info_policy_setting.show %>
      <p>下記の「<%= @personal_info_policy_setting.title %>」にご同意の上、</p>
    <% end %>
    <% if defined?(SKIP_MAIL) && SKIP_MAIL -%>
     <p>必要事項を入力してユーザー登録ボタンを押せば登録が完了します。</p>
    <% else -%>
      <p>必要事項を入力してユーザー登録ボタンを押すと、確認メールが送られます。メールの案内に従ってユーザー登録を完了してください。</p>
      <p><span class="strong">利用可能なEメールアドレス</span>をご指定いただかないとユーザー登録が完了しませんのでご注意ください。</p>
    <% end -%>
  </div>

  <% if @personal_info_policy_setting.body %>
    <div id="aboutPrivacy">
      <% cache action: 'new', action_suffix: 'personal_info_policy' do -%>
        <%= raw @personal_info_policy_setting.body %>
      <% end %>
    </div>
  <% end %>

  <%= error_messages_for :user %>
  <%= form_for :user, :url => signup_post_path, :html => {:id => 'signupForm'} do |f| -%>
    <table class="simple_form">
      <tr><th><label for="login">ログインID</label></th><td><%= f.text_field :login %></td></tr>
      <tr><th><label for="email">Email</label></th><td><%= f.text_field :email %></td></tr>
      <tr><th><label for="password">パスワード</label></th><td><%= f.password_field :password %></td></tr>
      <tr><th><label for="password_confirmation">パスワード（確認）</label></th><td><%= f.password_field :password_confirmation %></td></tr>
      <tr><td colspan="2" class="operation">
      <% if @personal_info_policy_setting.show %>
        <%= submit_tag '同意してユーザー登録' %>
      <% else %>
        <%= submit_tag 'ユーザー登録' %>
      <% end %>
      </td></tr>
    </table>
  <% end %>
</div>
