- content_for :css do
  :css
    #aboutPrivacy
      {
        height:200px;
        line-height:3em;
        overflow:scroll;
        padding:5px;
        color:#714d03;
        margin-bottom:10px;
        border: solid 2px #e6e6e6;
      }
#main
  .box
    %h2 ようこそ小槌へ！
    - if @personal_info_policy_setting.show
      %p
        下記の「
        = @personal_info_policy_setting.title
        」にご同意の上、
    - if defined?(SKIP_MAIL) && SKIP_MAIL
      %p 必要事項を入力してユーザー登録ボタンを押せば登録が完了します。
    - else
      %p 必要事項を入力してユーザー登録ボタンを押すと、確認メールが送られます。メールの案内に従ってユーザー登録を完了してください。
      %p
        %span.strong 利用可能なEメールアドレス
        をご指定いただかないとユーザー登録が完了しませんのでご注意ください。

  - if @personal_info_policy_setting.show
    #aboutPrivacy
      - cache action_suffix: 'personal_info_policy' do
        = raw @personal_info_policy_setting.body

  = error_messages_for :user
  = form_for :user, :url => signup_post_path, :html => {:id => 'signupForm'} do |f|
    %table.simple_form
      %tr
        %th= f.label :login, "ログインID"
        %td= f.text_field :login
      %tr
        %th= f.label :email, "Email"
        %td= f.text_field :email
      %tr
        %th= f.label :password, "パスワード"
        %td= f.password_field :password
      %tr
        %th= f.label :password_confirmation, "パスワード（確認）"
        %td= f.password_field :password_confirmation
      %tr
        %td.operation{colspan: 2}
          - if @personal_info_policy_setting.show
            = submit_tag '同意してユーザー登録'
          - else
            = submit_tag 'ユーザー登録'
