

<div id="side">
	<div class="box">
	  <h2>ようこそ小槌へ！</h2>
	  <p>必要事項を入力してユーザー登録ボタンを押すと、確認メールが送られます。メールの案内に従ってユーザー登録を完了してください。</p>
      <p><span class="strong">利用可能なEメールアドレス</span>をご指定いただかないとユーザー登録が完了しませんのでご注意ください。</p>
	</div>
</div>

<div id="main">
<%= error_messages_for :user %>
<% form_for :user, :url => signup_post_path do |f| -%>
<table class="simple_form">
  <tr><th><label for="login"><%= _('Login') %></label></th><td><%= f.text_field :login %></td></tr>
  <tr><th><label for="email"><%= ("Email")%></label></th><td><%= f.text_field :email %></td></tr>
  <tr><th><label for="password"><%= _("Password")%></label></th><td><%= f.password_field :password %></td></tr>
  <tr><th><label for="password_confirmation"><%= _("Confirm Password")%></label></th><td><%= f.password_field :password_confirmation %></td></tr>
  <tr><td colspan="2" class="operation"><%= submit_tag 'ユーザー登録' %></td></tr>
</table>
<% end %>
</div>


