<%# locals として year, month を必要とする。objectが指定されていれば部分テンプレートとして挿入する。 %>
<%
  url_params ||= {}
  calendar ||= nil
%>
<div id="calendar_form">

    <!-- カレンダー -->
    <div id="calendar" class="top_box" data-initial-year="<%= year %>" data-initial-month="<%= month %>">
    </div>

    <% 
        submit_url = send(url_method, url_params.merge({:year => '_YEAR_', :month => '_MONTH_'}))
     %>
    <%= form_tag do %>
      <% if calendar %>
        <%= render :partial => calendar %>
      <% end %>
      <input type="hidden" id="calendar_year" name="year" value="<%= year %>" />
      <input type="hidden" id="calendar_month" name="month" value="<%= month %>" />
    <% end %>
    <%= form_tag submit_url, :method => 'get', :id => 'month_submit_form' do %>
    <% end %>

</div>
