<%= content_tag :div, :style => deal.summary_unified? ? '' : 'display:none;', :id => 'deal_summary_frame' do %>
  <%= f.hidden_field :summary_mode, :value => deal.summary_unified? ? 'unify' : 'split', :class => 'pattern_field' %>
  <%= f.text_field :summary, :size => "40", :tabindex => '10', :class => 'pattern_field' %>
  <%= link_to image_tag('plus.png', :align => "top", :style => "margin-top: 6px;", :width => "24px", :height => "24px"), 'javascript: splitSummary()' %>
  <div id="patterns"></div>
<% end %>

<div>
  <%
    entry_types = [:debtor_entries, :creditor_entries]
    entry_types.reverse! unless current_user.preferences.bookkeeping_style?
    tab_index = 10 # わからない
  %>
  <div style="float:left;">
    <% if current_user.preferences.bookkeeping_style? %>
      <div>借方</div>
    <% end %>
    <%
      first_entry = true
      line_number = -1
    %>
    <%= f.fields_for entry_types.first do |e| %>
      <% fixed = e.object.respond_to?(:settlement_attached?) && e.object.settlement_attached? %>
      <% if e.object.marked_for_destruction? %>
        <%= e.hidden_field :_delete, :value => '1', :class => 'pattern_field' %>
      <% else %>
        <div class="entry">
          <%= e.hidden_field :line_number, :value => line_number += 1, :class => 'pattern_field' %>
          <%= e.text_field :summary, :class => 'entry_summary pattern_field', :style => "width: 260px; margin-bottom: 0px; #{deal.summary_unified? ? 'display:none;' : ''}", :tabindex => tab_index += 1 %>
          <% if first_entry %>
            <%= link_to image_tag('minus.png', :align => "top", :style => "margin-top: 6px;", :width => "24px", :height => "24px"), 'javascript: unifySummary()', :class => 'entry_summary', :style => deal.summary_unified? ? "display:none;" : nil %>
            <% first_entry = false %>
          <% end %>
          <%= tag(:br, :class => 'entry_summary', :style => deal.summary_unified? ? "display:none;" : nil) %>
          <div style="float:left;">
          <% amount_field_name = entry_types.first == :debtor_entries ? :amount : :reversed_amount %>
          <%= e.text_field amount_field_name, :size => "8", :disabled => fixed, :class => 'amount pattern_field', :tabindex => tab_index += 1 %>
          <%= e.hidden_field amount_field_name if fixed %>
          </div>
          <div style="float:left;">円</div>
          <div style="float:left;">
          <% if fixed %>
            <input type='text' disabled='true' class='readonly' value='<%= e.object.account.name %>' tabindex='#{tabindex}' />
            <%= e.hidden_field(:account_id, :value => e.object.account.id, :class => 'pattern_field') %>
          <% else %>
            <%= e.select :account_id, grouped_options_for_select(current_user.accounts.grouped_options(entry_types.first == :creditor_entries), e.object.try(:account_id), ''), {}, :tabindex => (tab_index += 1), :class => 'pattern_field' %>
          <% end %>
          </div>
          <div style="clear:left;"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% unless current_user.preferences.bookkeeping_style? %>
    <div style="float:left; padding: 0 16px;">→</div>
  <% end %>
  <div style="float:left;">
    <% if current_user.preferences.bookkeeping_style? %>
      <div>貸方</div>
    <% end %>
    <% line_number = -1 %>
    <%= f.fields_for entry_types.last do |e| %>
      <% fixed = e.object.respond_to?(:settlement_attached?) && e.object.settlement_attached? %>
      <% if e.object.marked_for_destruction? %>
        <%= e.hidden_field :_delete, :value => '1', :class => 'pattern_field' %>
      <% else %>
        <div class="entry">
          <%= e.hidden_field :line_number, :value => line_number += 1, :class => 'pattern_field' %>
          <%= e.text_field :summary, :style => "width: 260px; margin-bottom: 0px; #{deal.summary_unified? ? 'display:none;' : ''}", :class=>'entry_summary pattern_field', :tabindex => tab_index += 1 %>
          <%= tag(:br, :class => 'entry_summary', :style => deal.summary_unified? ? "display:none;" : nil) %>
          <div style="float:left;">
            <% amount_field_name = entry_types.last == :creditor_entries ? :reversed_amount : :amount %>
            <%= e.text_field amount_field_name, :size => "8", :disabled => fixed, :class => 'amount pattern_field', :tabindex => (tab_index += 1) %>
            <%= e.hidden_field amount_field_name if fixed  %>
          </div>
          <div style="float:left;">円</div>
          <div style="float:left;">
          <% if fixed %>
            <input type='text' disabled='true' class='readonly' value='<%= e.object.account.name %>' tabindex='#{tabindex}' />
            <%= e.hidden_field(:account_id, :value => e.object.account.id, :class => 'pattern_field') %>
          <% else %>
            <%= e.select :account_id, grouped_options_for_select(current_user.accounts.grouped_options(entry_types.last == :creditor_entries), e.object.try(:account_id), ''), {}, :tabindex => (tab_index += 1), :class => 'pattern_field' %>
          <% end %>
          </div>
          <div style="clear:left;"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if deal.kind_of?(Deal::Base) %>
    <div class="deal_patterns" style="float:left; margin-left: 10px;">
      <div>パターン呼出：<%= text_field_tag :pattern_keyword, '', :size => 10 %></div>
      <div></div>
    </div>
  <% end %>
  <div style="clear: left;"></div>
</div>

