  <table id="day_navigator">
    <% date = Date.new(@year.to_i, @month.to_i, 1) %>
    <% while (date.month == @month.to_i) %>
      <% deal_exists = data.detect{|d| d.date == date}  %>
      <tr>
        <td class="day">
          <div class="cwday<%= date.cwday%><%= date == Date.today ? ' today' : '' %>">
            <%= link_to l(date, :format => :day), "#day#{date.day}", :day => date.day %>
          </div>
        </td>
        <td><%= '*' if deal_exists %></td>
      </tr>
      <% date += 1 %>
    <% end %>
  </table>
  <%= javascript_tag do %>
    jQuery(document).ready(function($){
      $('#day_navigator td.day a').click(function(){
        $('input#date_day').val($(this).attr('day'))
      })
    });
  <% end %>
