- # 日ナビゲーター
- # path_proc - 日からのリンク先をブロックで渡す。なければ ""
- path_proc ||= nil
%table.day_navigator
  %tr
    %td.year_month
      = "#{@year}年#{@month}月"
    - date = Date.new(@year.to_i, @month.to_i, 1)
    - while date.month == @month.to_i
      - deal_exists = data.detect{|d| d.date == date}
      %tr
        %td.day
          %div{class: "cwday#{date.cwday}#{date == Date.today ? ' today' : ''}"}
            = link_to l(date, :format => :day), path_proc ? path_proc.call(date) : '#', :day => date.day
        %td= '*' if deal_exists
      - date += 1
