  <div id="money_counting">
    <div class='field'><%= label_tag :man, '万札:' %><%= text_field_tag :man, '', :size => '2', :autocomplete => 'off' %><span>枚</span></div>
    <div class='field'><%= label_tag :gosen , '五千円札:' %><%= text_field_tag :gosen, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :nisen, '二千円札:' %><%= text_field_tag :nisen, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :sen, '千円札:' %><%= text_field_tag :sen, '', :size => '2'  %><span>枚</span></div>
    <div class='field'><%= label_tag :gohyaku, '五百円玉:' %><%= text_field_tag :gohyaku, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div style="clear:left;"></div>
    <div class='field'><%= label_tag :hyaku, '百円玉:' %><%= text_field_tag :hyaku, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :gojyu, '五十円玉:' %><%= text_field_tag :gojyu, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :jyu, '十円玉:' %><%= text_field_tag :jyu, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :go, '五円玉:' %><%= text_field_tag :go, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div class='field'><%= label_tag :ichi, '一円玉:' %><%= text_field_tag :ichi, '', :size => '2', :autocomplete => 'off'  %><span>枚</span></div>
    <div style="clear:left;"></div>
    <div style="text-align: center;"><button style="width: 100px; margin: 0 10px;" onClick="countMoney(); return false;">計算</button></div>
  </div>
