.navbar.navbar-default.navbar-static-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      = link_to image_tag("izumo_kozuchi.png", border: 0, width: 32, height: 32), root_path, id: :logo, class: 'navbar-brand'
    .navbar-header
      .navbar-brand
        %h1 小槌
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - unless current_user
          %li{class: active_class_if(controller_name == 'welcome')}= link_to 'トップ', root_path
        - if current_user
          %li{class: active_class_if(controller_name == 'home')}= link_to 'ホーム', home_path
          %li{class: active_class_if(controller_name == 'deals')}= link_to '家計簿', deals_path
          %li.dropdown{class: active_class_if(%w|profit_and_loss assets balance_sheet|.include?(controller_name) && !controller_path.include?('settings'))}
            =link_to "分析<b class='caret'></b>".html_safe, '#', class: 'dropdown-toggle', data: {toggle: "dropdown"}
            %ul.dropdown-menu
              %li= link_to '収支表', profit_and_loss_path
              %li= link_to '資産表', assets_path
              %li= link_to '貸借対照表', balance_sheet_path

          %li.dropdown{class: active_class_if(controller_name == 'settlements')}
            - if @account && @account.kind_of?(Account::Asset) && @account.any_credit?
              = link_to "精算<b class='caret'></b>".html_safe, '#', class: 'dropdown-toggle', data: {toggle: "dropdown"}
              %ul.dropdown-menu
                %li= link_to "#{@account.name}の精算", account_settlements_path(account_id: @account.id, year: current_year, month: current_month)
                %li= link_to 'すべての精算', settlements_path(year: current_year, month: current_month)
            - else
              = link_to "精算", settlements_path(year: current_year, month: current_month)
          %li.dropdown{class: active_class_if(%w|expenses incomes deal_patterns preferences friends account_links partner_accounts single_logins export|.include?(controller_name) || (controller_name.include?("assets") && controller_path.include?("settings")))}
            = link_to "設定<b class='caret'></b>".html_safe, '#', class: 'dropdown-toggle', data: {toggle: "dropdown"}
            %ul.dropdown-menu
              %li= link_to '口座', settings_assets_path
              %li= link_to '費目', settings_expenses_path
              %li= link_to '収入内訳', settings_incomes_path
              %li= link_to '記入パターン', settings_deal_patterns_path
              %li= link_to 'カスタマイズ', settings_preferences_path
              %li.divider{role: 'presentation'}
              %li= link_to 'フレンド', settings_friends_path
              %li= link_to '連携', settings_account_links_path
              %li= link_to '受け皿', settings_partner_accounts_path
              %li= link_to 'シングルログイン', settings_single_logins_path
              %li.divider{role: 'presentation'}
              %li= link_to 'エクスポート', export_path
        %li.dropdown{class: active_class_if(controller_name == 'help')}
          = link_to "ヘルプ<b class='caret'></b>".html_safe, '#', class: 'dropdown-toggle', data: {toggle: "dropdown"}
          %ul.dropdown-menu
            %li= link_to '小槌の特徴', :controller => '/help', :action => 'index'
            %li= link_to 'できること', :controller => '/help', :action => 'functions'
            %li= link_to 'FAQ', :controller => '/help', :action => 'faq'
            %li.divider{role: 'presentation'}
            %li= link_to '小槌.net', "https://www.kozuchi.net/", target: 'kozuchi_net'
        - if current_user
          = form_tag search_deals_path, method: :get, class: %w(navbar-form navbar-left), role: :search do
            .form-group
              = text_field_tag :keyword, "", class: 'form-control', placeholder: 'キーワード'
              = submit_tag '検索', class: %w(btn btn-default), :onClick => "if($('#keyword').val() == '') {alert('キーワードを入力してください。'); return false;}"
          .btn-group.navbar-left
            %button.btn.btn-default.dropdown-toggle.navbar-btn{type: 'button', data: {toggle:'dropdown'}, style: "background-color: #{current_user.preferences.color}"}
              - if original_user
                = "#{current_user.login}さんに切り替え中"
              - else
                = "#{current_user.login}さんでログイン中"
              %span.caret
            %ul.dropdown-menu{role: 'menu'}
              %li= link_to 'ログアウト', logout_path, :method => :delete
              %li= link_to 'プロフィール', edit_user_path
              - if original_user
                %li.divider{role: 'presentation'}
                %li= link_to "#{original_user.login}さんのアカウントへ戻る", single_login_path(login: original_user.login, to: single_login_destination), method: :put
              - elsif current_user.single_logins.length > 0
                %li.divider{role: 'presentation'}
                - current_user.single_logins.each do |single_login|
                  %li= link_to "#{single_login.login}さんのアカウントへ移動", single_login_path(login: single_login.login, to: single_login_destination), method: :put
