<% unless flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>

<div><%= link_to "記入する", new_mobile_general_deal_path %></div>
<div><%= today = Date.today; link_to "今日の支出", mobile_daily_expenses_path(:year => today.year, :month => today.month, :day => today.day) %></div>
<div><%= link_to "残高を見る", account_balance_path(:account_id => current_user.default_asset.id) %></div>
<div><%= link_to "記入履歴", daily_created_mobile_deals_path(:year => today.year, :month => today.month, :day => today.day) %></div>

<% if !current_user.mobile_identity.blank? %>
  <%= button_to "簡単ログイン設定の削除", confirm_destroy_mobile_device_path, :method => :get %>
<% elsif @mobile_login_available %>
  <div>
    <% if request.mobile.docomo? && request.mobile.ident.blank? %>
      <%= docomo_utn_button_to "簡単ログインを設定", hash_for_mobile_device_path, :method => :put %>
    <% else %>
      <%= button_to "簡単ログインを設定", mobile_device_path, :method => :put %><br />
    <% end %>
  </div>
<% end %>
