<% unless flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>

<div><%= link_to "記入する", :controller => "deals", :action => "new_deal" %></div>
<div><%= link_to "残高確認", account_balance_path(:account_id => current_user.default_asset.id) %></div>

<% if !current_user.mobile_identity.blank? %>
  <%= button_to "簡単ログイン設定の削除", confirm_destroy_mobile_path, :method => :get %>
<% elsif @mobile_login_available %>
  <div>
    <% if request.mobile.docomo? && request.mobile.ident.blank? %>
      <%= docomo_utn_button_to "簡単ログインを設定", hash_for_mobile_path, :method => :put %>
    <% else %>
      <%= button_to "簡単ログインを設定", mobile_path, :method => :put %><br />
    <% end %>
  </div>
<% end %>
