<% content_for :head do -%>
  <title>Web家計簿 小槌</title>
  <%= stylesheet_link_tag 'welcome' %>
<% end -%>

<div>
  <h1 class="mobile_title">Web家計簿 小槌</h1>
  <% if current_user -%>
    <div class="box">
      <p style="text-align: right;"><%= button_to 'ログアウト', logout_path, :method => :delete %></p>
      <p>ようこそ、<%= h current_user.login %>さん！</p>
	   <p style="text-align:center; font-size: 140%;"><%= link_to 'ホームへ',  :controller => 'home' %></p>
    </div>
  <% else -%>
    <div id="login_form" class="box">
      <% if request.mobile.docomo? %>
        <div>
          <%= docomo_utn_button_to "簡単ログイン", login_post_path(:passport => 1), :name => nil, :form => {:"accept-charset" => "Shift_JIS"}, :id => 'passportButton' %>
        </div>
        <br />
      <% end %>
      <%= form_tag login_post_path do -%>
        <div><label for="login">ログイン</label>
        <%= text_field_tag 'login', flash[:login], :size => 10 %></div>
         <div><label for="password">パスワード</label>
         <%= password_field_tag 'password', "", :size => 10 %></div>
         <div class="error"><%= flash[:error] %></div>
         <div><%= submit_tag "ログイン", :name => nil, :id => 'loginButton' %></div>
      <% end -%>
    </div>
  <% end -%>

</div>