<% content_for :head do -%>
  <title>Web家計簿 小槌</title>
  <%= stylesheet_link_tag 'welcome' %>
<% end -%>

<%= focus_on('login') %>

<div id="side">
  <% unless current_user %>
   <div id="login_form" class="box">
      <% form_tag login_post_path do -%>
        <div><label for="login"><%= _('Login') %></label>
        <%= text_field_tag 'login', flash[:login] %></div>
         <div><label for="password"><%= _('Password') %></label>
         <%= password_field_tag 'password' %></div>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
  <div class="error"><%= flash[:error] %></div>

  <div><%= submit_tag _('Log in'), :onclick => "if ($F('login')=='') {alert('ログインIDを入力してください。'); return false;}if ($F('password')=='') {alert('パスワードを入力してください。'); return false;}" %></div>

  <div><%= link_to 'ユーザー登録', signup_path %>  <%= link_to 'パスワードを忘れたとき', forgot_password_path %></div>

      <% end -%>
    </div>
  <% end -%>
  
  <% if !defined?(DISPLAY_NEWS) || DISPLAY_NEWS -%>
  <div id="news" class="box">
    <h2>お知らせ</h2>
    <div style="text-align:right;"><%= link_to '小槌.netへ', 'http://www.kozuchi.net' %></div>
    <% if @news # キャッシュがあるか、ニュースが正常に取得できた -%>
      <% cache :action => 'news' do # welcome/news というアクションはないがキャッシュファイルを作るためにこう命名。/だとうまくファイルができない。キャッシュ自体は効くが、どこに格納されているかは不明。 -%>
	    <%= @news %>
      <% end -%>
	<% else # 取得エラー。キャッシュしない -%>
  	  <p>現在、ニュースを表示できません。</p>
    <% end -%>
  </div>
  <% end -%>

</div>

<div id="main">
  <div id="title">
    <h1>Web家計簿 小槌</h1>
    <p><%= image_tag("/images/izumo_kozuchi.png", :size => "48x48")%></p>
  </div>
  <p class="guide">小槌（こづち）はWebブラウザから使える家計簿です。無料でお使いいただけます。</p>
  <div id="features">
    <%= render(:partial => 'shared/features') %>
  </div>
</div>