<% content_for :head do -%>
  <title>Web家計簿 小槌</title>
  <%= stylesheet_link_tag 'welcome' %>
<% end -%>

<div id="side">

  <% if current_user -%>
    <div class="box">
      <p style="text-align: right;"><%= link_to 'ログアウト', logout_path, :method => :delete %></p>
      <p>ようこそ、<%= h current_user.login %>さん！</p>
	   <p style="text-align:center; font-size: 140%;"><%= link_to 'ホームへ',  :controller => 'home' %></p>
    </div>
  <% else -%>
    <%= focus_on('login') %>
    <div id="login_form" class="box">
      <%= form_tag login_post_path do -%>
        <div><label for="login">ログインID</label>
        <%= text_field_tag 'login', flash[:login] %></div>
         <div><label for="password">パスワード</label>
         <%= password_field_tag 'password' %></div>
         <div style="margin-top: 0.5em; margin-bottom: 0.5em;"><%= check_box_tag 'remember_me' %><label for="remember_me">ログイン状態を記憶（２週間）</label></div>
         <div class="error"><%= flash[:error] %></div>
         <div><%= submit_tag "ログイン", :onclick => "if ($F('login')=='') {alert('ログインIDを入力してください。'); return false;}if ($F('password')=='') {alert('パスワードを入力してください。'); return false;}" %></div>
         <div><%= link_to 'ユーザー登録', signup_path %>  <%= link_to 'パスワードを忘れたとき', forgot_password_path %></div>

      <% end -%>
    </div>
  <% end -%>
  
  <% if !defined?(DISPLAY_NEWS) || DISPLAY_NEWS -%>
  <div id="news" class="box">
    <h2>お知らせ</h2>
    <div style="text-align:right;"><%= link_to '小槌.netへ', 'http://www.kozuchi.net' %></div>
    <% if @news # キャッシュがあるか、ニュースが正常に取得できた -%>
      <% cache :action_suffix => 'news' do -%>
        <%= @news %>
      <% end -%>
	<% else # 取得エラー。キャッシュしない -%>
  	  <p>現在、ニュースを表示できません。</p>
    <% end -%>
  </div>
  <% end -%>

</div>

<div id="main">
  <div id="title">
    <h1>Web家計簿 小槌</h1>
    <p><%= image_tag("izumo_kozuchi.png", :size => "48x48")%></p>
  </div>
  <p class="guide">小槌（こづち）はWebブラウザから使える家計簿です。無料でお使いいただけます。</p>
  <div id="features">
    <%= render(:partial => 'shared/features') %>
  </div>
</div>
