- if @patterns.blank?
  = javascript_tag "$('#patterns').css('display','none');"
- else
  = javascript_tag "$('#patterns').css('display', 'block');"
  %div{style: "background-color:white;"}
    %table
      - @patterns.each do |pattern|
        %tr
          - on_click                = pattern.simple? ? "#{@general_callback}('#{j pattern.summary}', '#{pattern.debtor_entries.first.try(:amount)}', '#{pattern.creditor_entries.first.try(:account_id)}', '#{pattern.debtor_entries.first.try(:account_id)}', #{pattern.id}, '#{pattern.css_class}', true );" : "fillForComplexDeal('#{pattern.id}', '#{pattern.css_class}',  true);"
          - on_click_without_amount = pattern.simple? ? "#{@general_callback}('#{j pattern.summary}', '#{pattern.debtor_entries.first.try(:amount)}', '#{pattern.creditor_entries.first.try(:account_id)}', '#{pattern.debtor_entries.first.try(:account_id)}', #{pattern.id}, '#{pattern.css_class}', false );" : "fillForComplexDeal('#{pattern.id}', '#{pattern.css_class}', false);"
          %td
            .clickable_text{onClick: on_click}
              %div{class: "#{pattern.css_class}"}= pattern.caption
          %td
            .clickable_text{onClick: on_click_without_amount, style: "margin-left: 4px; margin-right; 4px;"}
              %div{class: "#{pattern.css_class}"}
                ¥__&nbsp;
          %td{style: "text-align: right;"}= number_with_delimiter(pattern.debtor_amount)
          - if current_user.bookkeeping_style?
            %td= "(借) #{pattern.debtor_account_name}"
            %td= "(貸) #{pattern.creditor_account_name}"
          - else
            %td= "[#{pattern.creditor_account_name}]"
            %td= " → "
            %td= "[#{pattern.debtor_account_name}]"
