<% if @patterns && !@patterns.empty? -%>
  <%= javascript_tag "$('patterns').style.display = 'block';"%>
  <div style="background-color:white;">
    <table>
    <% for pattern in @patterns %>
      <tr>
        <% if pattern.debtor_entries.size == 1 && pattern.creditor_entries.size == 1 %>
          <td><div class="clickable_text" onClick="<%= @general_callback %>('<%= pattern.summary %>', '<%= pattern.debtor_entries.first.amount %>', '<%= pattern.creditor_entries.first.account_id %>', '<%= pattern.debtor_entries.first.account_id%>', <%= pattern.id %> );"><%= pattern.summary %></div></td>
          <td><%= number_with_delimiter(pattern.debtor_entries.first.amount) %></td>
          <% if current_user.bookkeeping_style? %>
            <td>(借) <%= h pattern.debtor_account_name %></td>
            <td>(貸) <%= h pattern.creditor_account_name %></td>
          <% else %>
            <td>[<%= h pattern.creditor_account_name %>]</td>
            <td> → </td>
            <td>[<%= h pattern.debtor_account_name %>]</td>
          <% end %>
        <% else %>
          <td><div class="clickable_text" onClick="fillForComplexDeal('<%= pattern.id %>');"><%= pattern.summary %></div></td>
          <td><%= number_with_delimiter(pattern.debtor_amount) %></td>
          <% if current_user.bookkeeping_style? %>
            <td>(借) <%= h pattern.debtor_account_name %></td>
            <td>(貸) <%= h pattern.creditor_account_name %></td>
          <% else %>
            <td>[<%= h pattern.creditor_account_name %>]</td>
            <td> → </td>
            <td>[<%= h pattern.debtor_account_name %>]</td>
          <% end %>
        <% end %>
      </tr>
    <% end -%>
    </table>
  </div>
<% else -%>
  <%= javascript_tag "$('patterns').style.display = 'none';"%>
<% end -%>