<h2>記入履歴</h2>
<% if @deals.empty? %>
  <p>記入なし</p>
<% else %>
  <table class="simple"style="width: 100%;">
  <% for deal in @deals %>
    <tr><td colspan="2"><%= h deal.summary %></td></tr>
    <tr>
      <td><%= deal.debtor_amount %>円</td>
      <td><%= h deal.creditor_account_name %> → <%= h deal.debtor_account_name %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right; border-bottom: 1px solid #888888;"><%= button_to "削除", deal_path(:id => deal.id), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>