  <div>
    <%= f.text_field :summary, :size => "40", :tabindex => '10' %>
    <div id="patterns"></div>
  </div>

  <div>
    <%
      entry_types = [:debtor_entries, :creditor_entries]
      entry_types.reverse! unless current_user.preferences.bookkeeping_style?
      tab_index = 10 # わからない
    %>
    <div style="float:left;">
      <% if current_user.preferences.bookkeeping_style? %>
        <div>借方</div>
      <% end %>
      <% f.fields_for entry_types.first do |e| %>
        <% fixed = e.object.settlement_attached? %>
        <% if e.object.marked_for_destruction? %>
          <%= e.hidden_field :_delete, :value => '1' %>
        <% else %>
          <div>
            <div style="float:left;">
            <% amount_field_name = entry_types.first == :debtor_entries ? :amount : :reversed_amount %>
            <%= e.text_field amount_field_name, :size => "8", :disabled => fixed, :class => 'amount', :tabindex => tab_index += 1 %>
            <%= e.hidden_field amount_field_name if fixed %>
            </div>
            <div style="float:left;">円</div>
            <div style="float:left;">
            <% if fixed %>
              <input type='text' disabled='true' class='readonly' value='<%= e.object.account.name %>' tabindex='#{tabindex}' />
              <%= e.hidden_field(:account_id, :value => e.object.account.id) %>
            <% else %>
              <%= e.select :account_id, grouped_options_for_select(@user.accounts.grouped_options(entry_types.first == :creditor_entries), e.object.try(:account_id), ''), {}, :tabindex => (tab_index += 1) %>
            <% end %>
            </div>
            <div style="clear:left;"></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% unless current_user.preferences.bookkeeping_style? %>
      <div style="float:left; padding: 0 16px;">→</div>
    <% end %>
    <div style="float:left;">
      <% if current_user.preferences.bookkeeping_style? %>
        <div>貸方</div>
      <% end %>
      <% f.fields_for entry_types.last do |e| %>
        <% fixed = e.object.settlement_attached? %>
        <% if e.object.marked_for_destruction? %>
          <%= e.hidden_field :_delete, :value => '1' %>
        <% else %>
          <div>
            <div style="float:left;">
              <% amount_field_name = entry_types.last == :creditor_entries ? :reversed_amount : :amount %>
              <%= e.text_field amount_field_name, :size => "8", :disabled => fixed, :class => 'amount', :tabindex => (tab_index += 1) %>
              <%= e.hidden_field amount_field_name if fixed  %>
            </div>
            <div style="float:left;">円</div>
            <div style="float:left;">
            <% if fixed %>
              <input type='text' disabled='true' class='readonly' value='<%= e.object.account.name %>' tabindex='#{tabindex}' />
              <%= e.hidden_field(:account_id, :value => e.object.account.id) %>
            <% else %>
              <%= e.select :account_id, grouped_options_for_select(@user.accounts.grouped_options(entry_types.last == :creditor_entries), e.object.try(:account_id), ''), {}, :tabindex => (tab_index += 1) %>
            <% end %>
            </div>
            <div style="clear:left;"></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div style="clear: left;"></div>
  </div>
  <div style="text-align: right; padding-right: 100px;"><%= link_to_remote '記入欄を増やす', :update => @deal.new_record? ? 'deal_forms' : 'deal_editor', :url => deal_entries_path(:id => @deal.new_record? ? 'new' : @deal.id), :submit => 'deal_form' %></div>
  <div>
      <%= f.submit @deal.new_record? ? '記入' : '変更', :tablindex => "14", :class => 'button' %>
  </div>
  <%= observe_field("deal_summary", :update => 'patterns', :frequency => 0.5, :with => 'keyword', :method => :get, :url => deal_suggestions_path(:from => 'complex_deal') )%>
