- # TODO: @deals 以外を利用したいケースができたので、locals で deals があればそれを優先する
- # skip_deal_id が指定されていたら #dXXX の id を振らない（詳細画面など）
- skip_deal_id ||= false
- deals ||= @deals
%table.book.book_header
  %tr
    %th.date 日付
    %th.number
    %th 摘要
    %th.account{colspan: "2"}
    %th.jump
    %th.amount= term :debtor
    %th.amount= term :creditor
    %th.amount 残高
    %th.action 変更
    %th.action 削除
  - for deal in deals
    - for account_entry in deal.readonly_entries
      - tr_classes = [].tap{|a| a << "d#{deal.id}" unless skip_deal_id; a << 'unconfirmed' unless deal.confirmed?; a << "last_entry" if account_entry == deal.readonly_entries.last}
      = content_tag :tr, class: tr_classes.empty? ? nil : tr_classes, id: (account_entry == deal.readonly_entries.first && !skip_deal_id) ? "d#{deal.id}" : nil do
        - size = deal.readonly_entries.size
        - if deal.readonly_entries.first == account_entry

          - # date
          = content_tag :td, :class => 'date', :rowspan => size do
            - deal.anchor_dates.each do |date|
              = day_anchor date
            = l deal.date
            - if !deal.confirmed?
              = link_to '確認', confirm_deal_path(:id => deal), :class => 'small_button deal_confirmation_link', :alt => '確認状態にします。'

          - # number
          = content_tag :td, :class => 'number', :rowspan => size do
            = render :partial => 'shared/deal_note', :locals => {:deal => deal}
            = content_tag(:span, deal.daily_seq, id: deal.id, class: :deal_id)

        - # summary
        = content_tag :td, deal.summary_unified? ? deal.summary : account_entry.summary, :class => 'summary', :rowspan => deal.summary_unified? ? size : 1 if !deal.summary_unified? || deal.readonly_entries.first == account_entry

        - # account
        - if account_entry.linked_ex_entry_id || account_entry.kind_of?(Entry::General) && (account_entry.settlement_id || account_entry.result_settlement_id)
          %td
            = display_account_name(account_entry.account)
          %td.jump
            - if account_entry.linked_ex_entry_id
              %span{class: account_entry.linked_ex_entry_confirmed? ? nil : 'unconfirmed'} 連携
            - if account_entry.any_settlement_id
              %div
                = link_to '精算', settlement_path(:id => account_entry.any_settlement_id)
        - else
          %td.account{colspan: "2"}= account_entry.account.name

        %td.account_deals_link= link_to '→', monthly_account_deals_path(:account_id => account_entry.account.id, :year => @year, :month => @month, :anchor => "d#{deal.id}")
        %td.amount= number_with_delimiter(account_entry.amount) if account_entry.amount  > 0 && !account_entry.initial_balance?
        %td.amount= number_with_delimiter(account_entry.amount.abs) if account_entry.amount < 0 && !account_entry.initial_balance?
        %td.amount= number_with_delimiter(account_entry.balance)
        - if deal.readonly_entries.first == account_entry
          %td.action{rowspan: deal.readonly_entries.size}= link_to '変更', {:action => 'edit', :id => deal.id}, class: 'edit_deal', data: {deal_id: deal.id}
          %td.action{rowspan: deal.readonly_entries.size}
            - unless deal.settlement_attached?
              = link_to '削除', deal_path(:id => deal), :data => {:confirm => "#{deal.human_name} を削除します。よろしいですか？"}, class: :deal_deletion_link
