      <!-- 通信欄-->
      <%= render(:partial => "shared/information") %>
      <table class="book_header">
        <tr>
          <th class="date">日付</th>
          <th class="number"> </th>
          <th>摘要</th>
          <th class="account"> </th>
          <th class="jump"></th>
          <th class="amount"><%= bookkeeping_style? ? '借方' : '入金' %></th>
          <th class="amount"><%= bookkeeping_style? ? '貸方' : '出金' %></th>
          <th class="amount">残高</th>
          <th class="action">変更</th>
          <th class="action">削除</th>
          <th class="scroll_space"></th>
        </tr>
      </table>
      <div class="scroll_box" <%= "style='height:#{h @deals_scroll_height};'" if @deals_scroll_height && @deals_scroll_height != ''%>>
      <div class="scroll_inner_box">
      <table class="book">
        <% for deal in @deals %>
          <% first = true %>

          <% for account_entry in deal.readonly_entries %>
            <tr <%= "class='updated_line'" if (@updated_deal && deal.id == @updated_deal.id)%><%= 'class="unconfirmed"' if !deal.confirmed? %>>
              <td class="date">
                <% if first %>
                  <a name="<%=deal.id%>"><%= format_date(deal.date) %></a>
                <% end %>
              </td>
              <td class="number">
                <%= deal.daily_seq if first %>
              </td>
              <% if first %>
                <td class="summary" rowspan="<%=deal.readonly_entries.size%>">
                  <% if !deal.confirmed? %>
                    <%= link_to '確認' , confirm_deal_path(:id => deal), :method => :put, :class => 'small_button', :alt => '確認状態にします。' %>
                  <% end %>
                  <%= deal.balance ? "残高確認" : h(deal.summary) %>
                </td>
              <% end %>
              <% if account_entry.linked_ex_entry_id || account_entry.kind_of?(Entry::General) && (account_entry.settlement_id || account_entry.result_settlement_id) %>
                <td class="account">
                  <%= display_account_name(account_entry.account) %>
                </td>
                <td class="jump">
                  <% if account_entry.linked_ex_entry_id %>
                    <span <%="class='unconfirmed'" unless account_entry.linked_ex_entry_confirmed? %>>連携</span>
                  <% end %>
                  <% if account_entry.settlement_id %>
                    <div><%= link_to '精算', settlement_path(:id => account_entry.settlement_id) %></div>
                  <% end %>
                  <% if account_entry.result_settlement_id %>
                    <div><%= link_to '精算', settlement_path(:id => account_entry.result_settlement_id) %></div>
                  <% end %>
                </td>
              <% else %>
                <td colspan="2">
                  <%= h account_entry.account.name %>
                </td>
              <% end %>
              <td class="amount"><%= number_with_delimiter(account_entry.amount) if account_entry.amount  > 0 && !account_entry.initial_balance? %></td>
              <td class="amount"><%= number_with_delimiter(account_entry.amount.abs) if account_entry.amount < 0 && !account_entry.initial_balance? %></td>
              <td class="amount"><%= number_with_delimiter(account_entry.balance)%> </td>
              <% if first %>
                <td rowspan="<%=deal.readonly_entries.size%>" class="action"><%= link_to_remote('変更' , :update => 'deal_editor', :url => {:action => 'edit', :id => deal.id}, :method => :get, :complete => "location.hash = '#{deal.id}';location.hash = 'top';" ) %></td>
                <td rowspan="<%=deal.readonly_entries.size%>" class="action">
                  <% unless deal.settlement_attached? %>
                    <%= link_to '削除', deal_path(:id => deal), :method => :delete, :confirm => "#{deal.human_name} を削除します。よろしいですか？" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
            <% first = false %>
          <% end %>
        <% end %>
      </table>
      </div>
      </div>
      <% if @target_month && !@date%>
        <script>
          $('deal_year').value = '<%=@target_month.year%>'
          $('deal_month').value = '<%=@target_month.month%>'
          $('deal_day').value = '<%=@target_month.day if @target_month.day%>'
        </script>
      <% end %>
      <% if @updated_deal%>
        <script>
          location.hash = "<%=@updated_deal.id%>";
        </script>
      <% end %>
      <script>
        function focus_line(deal_id) {
          alert('focus_line');
          var selector = new Selector("tr[class='updated_line']");
          var elements = selector.findElements(document);
          
//          var elements = $$("tr[class='updated_line']");
          alert(elements.length);
//          elements.each(function(elem) { alert(elem.innerHTML); });
        }
      </script>
      
      