= form_for @deal, :as => :deal, :url => deal_path(:id => @deal.id), :method => :patch, :html => {:id => 'deal_form'} do |f|
  = f.hidden_field(:year)
  = f.hidden_field(:month)
  = f.hidden_field(:day)
  - case @deal when Deal::General
    - if params[:complex] != 'true' && @deal.simple?
      - @deal.modify_errors_for_simple_form
      = render :partial => 'general_deal_form_contents', :locals => {:f => f, pattern_update_area: '#deal_forms'}
    - else
      - @deal.modify_errors_for_complex_form
      = render :partial => 'complex_deal_form_contents', :locals => {:f => f}
  - when Deal::Balance
    = render :partial => 'balance_deal_form_contents', :locals => {:f => f}
= error_messages_for :deal
