  <div>
    <%= f.text_field :summary, :size => "40", :tabindex => '10' %>
    <div id="patterns"><%= render :partial => "deal/patterns" %></div>
  </div>
  <div class="entry">
    <% amount_field_proc, debtor_account_field_proc, creditor_account_field_proc = write_hiddens_and_get_simple_deal_procs(f) %>

    <%= render :partial => "general_deal_form_contents_#{bookkeeping_style? ? 'bookkeeping_style' : 'kozuchi_style'}",
      :locals => {
        :amount_field_proc => amount_field_proc,
        :debtor_account_field_proc => debtor_account_field_proc,
        :creditor_account_field_proc => creditor_account_field_proc,
        :tab_index => 10 # この次からはじまる
      }
    %>

    <%= f.submit @deal.new_record? ? '記入' : '変更', :tablindex => "14", :class => 'button' %>
    <% unless @deal.new_record? %>
      <%= link_to_remote('複数記入にする' , :update => 'deal_editor', :url => {:action => 'edit', :id => @deal.id, :complex => true}, :method => :get, :complete => "location.hash = '#{@deal.id}';location.hash = 'top';" ) %>
    <% end %>
    <div style="clear:left;"></div>
  </div>
  <%= observe_field("deal_summary", :update => 'patterns', :frequency => 0.5, :with => 'keyword', :url => {:controller => 'deal', :action => 'update_patterns'})%>

  <%= javascript_tag <<-END
  function setEditDeal(summary, amount, minus_account_id, plus_account_id) {
  $('deal_debtor_entries_attributes_0_amount').value = amount;
  selectList('deal_creditor_entries_attributes_0_account_id', minus_account_id);
  selectList('deal_debtor_entries_attributes_0_account_id', plus_account_id);
  $('deal_summary').value = summary;
  }

  function selectList(name, value) {
  for (i = 0; i < $(name).options.length; i++) {
  if ($(name).options[i].value == value) {
  $(name).options.selectedIndex = i;
  return;
  }
  }
  }
  END
  %>