  <div>
    <%= f.text_field :summary, :size => "40", :tabindex => '10' %>
    <div id="patterns"><%= render :partial => "deal/patterns" %></div>
  </div>
  <div class="entry">
    <%
      entry_types = [:debtor_entries, :creditor_entries]
      entry_types.reverse! unless current_user.preferences.bookkeeping_style?
    %>

    <% f.fields_for entry_types.first do |d| %>
      <% if d.object.marked_for_destruction? %>
        <%= d.hidden_field :_delete, :value => '1' %>
      <% else %>
        <div>
          <%= d.text_field :amount, :size => "8", :disabled => f.object.settlement_attached?, :class => 'amount', :tabindex => '11' %>
          <% if f.object.settlement_attached? %>
            <%= d.hidden_field :amount %>
          <% end %>
        </div>

        <div>円</div>
        <% f.fields_for entry_types.last do |c| %>
          <% if c.object.marked_for_destruction? %>
            <%= c.hidden_field :_delete, :value => '1' %>
          <% else %>
            <div style="padding-left: 16px;">
              <%= '(借)' if bookkeeping_style? %><%= c.select :account_id, grouped_options_for_select(@user.accounts.grouped_options(entry_types.last == :debtor_entries), f.object.creditor_entries.first.try(:account_id)), :tabindex => 13 %>
            </div>
          <% end %>
        <% end %>

        <% unless current_user.preferences.bookkeeping_style? %>
        <div style="padding-left: 16px;">→</div>
        <% end %>

        <div style="padding-left: 16px;">
          <%= '(貸)' if bookkeeping_style? %><%= d.select :account_id, grouped_options_for_select(@user.accounts.grouped_options(entry_types.first == :debtor_entries), f.object.debtor_entries.first.try(:account_id)), :tabindex => 13 %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit @deal.new_record? ? '記入' : '変更', :tablindex => "14", :class => 'button' %>
    <% unless @deal.new_record? %>
      <%= link_to_remote('複数記入にする' , :update => 'deal_editor', :url => {:action => 'edit', :id => @deal.id, :complex => true}, :method => :get, :complete => "location.hash = '#{@deal.id}';location.hash = 'top';" ) %>
    <% end %>
    <div style="clear:left;"></div>
  </div>
  <%= observe_field("deal_summary", :update => 'patterns', :frequency => 0.5, :with => 'keyword', :url => {:controller => 'deal', :action => 'update_patterns'})%>

  <%= javascript_tag <<-END
  function setEditDeal(summary, amount, minus_account_id, plus_account_id) {
  $('deal_debtor_entries_attributes_0_amount').value = amount;
  selectList('deal_creditor_entries_attributes_0_account_id', minus_account_id);
  selectList('deal_debtor_entries_attributes_0_account_id', plus_account_id);
  $('deal_summary').value = summary;
  }

  function selectList(name, value) {
  for (i = 0; i < $(name).options.length; i++) {
  if ($(name).options[i].value == value) {
  $(name).options.selectedIndex = i;
  return;
  }
  }
  }
  END
  %>