<div style="float:right">
  <% form_tag({:controller => '/deals', :action => 'search'}, :method => :get) do -%>
    <%= text_field_tag :keyword, "", :size => 14 %> <%= submit_tag '明細を検索', :class => 'button', :onClick => "if($('keyword').value == '') {alert('キーワードを入力してください。'); return false;}" %>
  <% end -%>
</div>
<%= render(:partial => "shared/calendar", :locals => {:year => @target_date[:year], :month => @target_date[:month]}) %>
<div style="clear:right;"></div>

<% deal_type = flash[:"#{controller_name}_deal_type"] %>
<div id="deal_editor">
  <% deal_editor 1, @target_date[:year], @target_date[:month], flash[:day] do %>
    <%= render :partial => deal_type == 'balance_deal' ? 'balance_deal_form' : 'general_deal_form' %>
  <% end %>
</div>

<div id="monthly_contents">

  <div id="book" class="bottom_box">
    <%= render :partial => "deals" %>
  </div>
</div>
