    <div style="float:right">
    	<% form_tag({:controller => '/deals', :action => 'search'}, :method => :get) do -%>
		  <%= text_field_tag :keyword, "", :size => 14 %> <%= submit_tag '明細を検索', :class => 'button', :onClick => "if($('keyword').value == '') {alert('キーワードを入力してください。'); return false;}" %>
		<% end -%>
    </div>
	<%= render(:partial => "shared/calendar", :locals => {:year => @target_date[:year], :month => @target_date[:month]}) %>
	<div style="clear:right;"></div>
    <div id="monthly_contents">
      <div id="edit_box" class="middle_box">
        <form action="<%= url_for(:controller => 'deal', :action => 'save')%>" method="post" onSubmit="if ($('deal_day').value == '') {alert('日付を入れてください。');return false;}if ($('deal_amount') != null && $('deal_amount').value == '') {alert('金額を入力してください。');return false;}if ($('deal_balance') != null && $('deal_balance').value == '') {alert('残高を入力してください。');return false;}return true;">
          <input type="hidden" name="back_to[controller]" value="<%= @back_to[:controller] %>" />
          <input type="hidden" name="back_to[action]" value="<%= @back_to[:action] %>" />
          <div id="datebox">
            <%= text_field("deal", "year", {:size => "4", :maxlength => "4", :tabindex => '1'}) %>
            <%= text_field("deal", "month", {:size => "2", :maxlength => "2", :tabindex => '2'}) %>
            <%= text_field("deal", "day", {:maxlength => "2", :tabindex => '3'}) %>
          </div>
          <div id="tabwindow">
            <%= render :partial => ('deal/edit_'+@tab_name) %>
          </div>
        </form>
        <%# render_component :controller => 'deal', :action => 'new', :params => {:back_to => {:controller => 'deals', :action => 'index'}, :deal => params[:deal]} %>
      </div>

      <div id="book" class="bottom_box">
        <%= render :partial => "deals" %>
      </div>
    </div>
    
