<div style="float:right">
  <% form_tag({:controller => '/deals', :action => 'search'}, :method => :get) do -%>
    <%= text_field_tag :keyword, "", :size => 14 %> <%= submit_tag '明細を検索', :class => 'button', :onClick => "if($('keyword').value == '') {alert('キーワードを入力してください。'); return false;}" %>
  <% end -%>
</div>
<%= render(:partial => "shared/calendar", :locals => {:year => @year, :month => @month, :url_method => :monthly_deals_path}) %>
<div style="clear:right;"></div>

<% deal_type = flash[:"#{controller_name}_deal_type"] %>
<div id="deal_editor">
  <% deal_editor 1, @year, @month, @day do %>
    <%= render :partial => deal_type == 'balance_deal' ? 'balance_deal_form' : 'general_deal_form' %>
  <% end %>
</div>

<div id="monthly_contents">

  <div id="book" class="bottom_box">
    <%= render :partial => "deals" %>
  </div>
</div>

<% javascript_tag do %>
  function onGeneralDealSelectedFromGeneral(summary, amount, minus_account_id, plus_account_id) {
    $('deal_debtor_entries_attributes_0_amount').value = amount;
    selectList('deal_creditor_entries_attributes_0_account_id', minus_account_id);
    selectList('deal_debtor_entries_attributes_0_account_id', plus_account_id);
    $('deal_summary').value = summary;
  }
  function selectList(name, value) {
    for (i = 0; i < $(name).options.length; i++) {
      if ($(name).options[i].value == value) {
        $(name).options.selectedIndex = i;
        return;
      }
    }
  }
  function onGeneralDealSelectedFromComplex(summary, amount, minus_account_id, plus_account_id, dealId) {
    if($('notice')){ $('notice').hide();}
    <%= remote_function :update => "deal_forms", :with => "'load=' + dealId", :url => {:action => 'new_complex_deal', :controller => 'deals'}, :method => :get, :complete => 'displaySuggestionsForComplex();' %>;
  }
  function fillForComplexDeal(dealId) {
    if($('notice')){ $('notice').hide();}
    <%= remote_function :update => "deal_forms", :with => "'load=' + dealId", :url => {:action => 'new_complex_deal', :controller => 'deals'}, :method => :get, :complete => 'displaySuggestionsForComplex();' %>;
  }
  function displaySuggestionsForComplex() {
    <%= remote_function :update => 'patterns', :with => "'keyword=' + $('deal_summary').value", :method => :get, :url => deal_suggestions_path(:from => 'complex_deal') %>;
  }
<% end %>