- data = {}
- # 登録・編集後のリダイレクト先に関わる情報
- if @account
  - data[:condition] = {account_id: @account.id} # 遷移先を決めるための条件
  - data[:condition_match_url] = monthly_account_deals_path(account_id: @account.id, year: '_YEAR_', month: '_MONTH_')
- data[:result_url] = monthly_deals_path(year: '_YEAR_', month: '_MONTH_') # 条件がないときや、条件に合わなかったときの遷移先
- # 口座選択を変えたときのURLテンプレート
- data[:account_url] = monthly_account_deals_path(account_id: '_ACCOUNT_ID_', year: @year, month: @month) # 口座が指定されたとき
- data[:all_url] = monthly_deals_path(year: @year, month: @month) # 口座が解除されたとき
#deal_form_option{ data: data }

.for_monthly_deals.for_deal_editor
  #deals_left
    = link_to '今日', deals_path(today: 1, account_id: @account ? @account.id : nil), class: %w(btn btn-primary btn-sm), id: :today
    #day_navigator_frame= render :partial => 'shared/day_navigator', :locals => {:data => @bookings, path_proc: ->(date){ "#day#{date.day}" }}

  #deals_right
    #account_selector
      = grouped_account_select "account_id", current_user.accounts, @account.try(:id) || '', prompt: '総合', class: "form-control"
      %div{style: "padding: 4px 0 4px 0;"}
        - if @account
          .col-sm-1
            %a{href: setting_account_path(@account)}
              %span.glyphicon.glyphicon-wrench
          .col-sm-1
            - if @account.description.present?
              = render partial: 'shared/account_memo', locals: {account: @account}
    - if @account
      = link_to '総合', monthly_deals_path(year: @year, month: @month), class: %w(btn btn-default monthly_deals_link), data: {url_template: monthly_deals_path(year: '_YEAR_', month: '_MONTH_')}
    - account_selection_histories.each do |a|
      - if @account != a
        = account_button(a, @year, @month)

    #deal_pattern_frame{data: {url: recent_deal_patterns_path, mode: 'always'}}
      = render :partial => 'shared/deal_patterns/recent'

  #deals_main
    #deals_frame
      #deals_navigator
        #calendar_in_navigator
          - url_for(year: '_YEAR_', month: '_MONTH_')
          = render partial: "shared/calendar", :locals => {year: @year, month: @month, switcher: true, data: {url_template: url_for(year: '_YEAR_', month: '_MONTH_')}}
      #new_deal_window
        - # 折れ線グラフ
        #chart{style: "margin-top: 0px; width: 55%; height: 50px; float: left;"}
          = line_chart @expenses_summary.items , :width => 550, :height => 80, :canvas_id => 'expense_summary_graph', :x => @months_for_expenses, :gbackgroundColor => "'#ffe5f2'", :y => @expenses_summary.y, :yMin => @expenses_summary.y_min, :yMax => @expenses_summary.y_max

        - # 精算
        - if @settlement_summaries
          #settlements{style: "float: right; width: 35%;"}
            = render partial: '/settlements/summary', locals: {gadget: true}

        %div{style: "clear: both;"}

        - # ここに h3 してもいい
        .deal_editor
          - deal_type = flash[:"#{controller_name}_deal_type"]
          = deal_editor 1, @year, @month, @day do
            = render :partial => deal_type == 'balance_deal' ? 'balance_deal_form' : 'general_deal_form'
      %ul.nav.nav-tabs.nav-justified.body_tab#monthly_deals_body_tab{style: "margin-top: 8px;"}
        %li{roll: "presentation", class: 'active'}
          %a.body_tab_link{data: "monthly", href: "#monthly"} #{@account ? @account.name : '総合'}(#{@year}年 #{@month}月)
        %li{roll: "presentation"}
          %a.body_tab_link{data: "recent", href: "#recent"} 最近の記入
      #monthly_contents
        #book.bottom_box
          .body_tab_area#monthly_area
            - if @account
              = render :partial => "account_entries"
            - else
              = render :partial => "deals"
          .body_tab_area#recent_area{style: "display: none;"}
            = render :partial => "deals", locals: {deals: @recently_updated_deals}

    = render partial: 'monthly_js'
