<div class="title"><%= "#{@year}年#{@month}月末日の貸借対照表"%></div>
<div class="table_block">

  <div class="left">
	<table class="book">
	  <tr><th colspan="2">資産</th></tr>
	  <% @assets.plus.each do |account| %>
	    <%= book_line(:account => account, :amount => account.balance) %>
	  <% end %>
	</table>
  </div>
  
  <div class="right">
    <table class="book">
      <tr><th colspan="2">負債</th></tr>
      <% @assets.minus.each do |account| %>
        <%= book_line(:account => account, :amount => account.balance * -1)%>
	  <% end %>
    </table>
    <table class="book">
      <%= book_line(:name => "負債合計", :percentage => @assets.plus.sum != 0 ? ((@assets.minus.sum * -1) * 100.0 / @assets.plus.sum).round : '', :amount => @assets.minus.sum * -1) %>
    </table>
    <% # 資本金を使うモードの場合は資本として利益剰余金を自動計算し、家計用のときは純資産として自動計算する %>
    <% if @user.preferences.business_use %>
      <table class="book">
        <tr><th colspan="2">資本</th></tr>
        <% @assets.capital_fund.each do |account| %>
          <%= book_line(:account => account, :amount => account.balance * -1) %>
        <% end %>
	    <%= book_line(:name => "利益剰余金", :amount => @assets.profit)%>
      </table>
      <table class="book">
        <%= book_line(:name => "資本合計", :percentage => @assets.plus.sum != 0 ? ((@assets.capital_fund.sum * -1 + @assets.profit) * 100.0 / @assets.plus.sum).round : '', :amount => @assets.capital_fund.sum * -1 + @assets.profit) %>
      </table>
    <% else %>
      <table class="book">
        <tr><th colspan="3">正味財産</th></tr>
	    <%= book_line(:name => "正味財産の合計", :percentage => @assets.plus.sum != 0 ? (@assets.sum * 100.0 / @assets.plus.sum).round : '', :amount => @assets.sum)%>
      </table>
    <% end %>
  </div>
</div>
<div class="table_block">
  <div class="left">
    <table class="book">
      <%= book_line(:name => "計", :amount => @assets.plus.sum) %>
    </table>
  </div>
  <div class="right">
    <table class="book">
        <%= book_line(:name => "計", :amount => @assets.plus.sum) %>
    </table>
  </div>
</div>
