<html>
  <head>
    <style>
      th, td {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <h1>ユーザーの状況</h1>
    <table border="1">
      <tr>
        <th>登録ユーザー数</th><td></td><td><%= @users.size %></td>
      </tr>
      <tr>
        <% verified_users = @users.find_all{|u| u.verified? }%>
        <th>verifiedされたユーザーの数</th><td><%= (verified_users.size.to_f / @users.size * 100).round %>%</td><td><%= verified_users.size %></td>
      </tr>
      <tr>
        <% active_users = @users.find_all{|u| u.logged_in_at && Date.new(u.logged_in_at.year, u.logged_in_at.month, u.logged_in_at.day) > (Date.today << 1) }%>
        <th>1ヶ月以内にログインしたユーザーの数</th><td><%= (active_users.size.to_f / @users.size * 100).round %>%</td><td><%= active_users.size %></td>
      </tr>
    </table>
    <br />
    
    <table border="1">
      <tr>
        <th>月</th><th>登録数</th><th colspan="2">うちVerifiedされた数</th><th>2ヶ月以内ログイン</th><th>1ヶ月以内ログイン</th>
      </tr>
      <% for year, month in @spans %>
        <tr>
          <th><%= year%>/<%= month%></th>
          <% created_count = User.count(:conditions => "created_at > '#{Date.new(year, month, 1)-1}' and created_at < '#{Date.new(year, month, 1) >> 1}'")%>
          <td><%= created_count %></td>
          <% verified_count = User.count(:conditions => "verified = 1 and created_at > '#{Date.new(year, month, 1)-1}' and created_at < '#{Date.new(year, month, 1) >> 1}'")%>
          <td><%= verified_count %></td>
          <td>
            <% if created_count > 0 %>
              <%= verified_count * 100 / created_count %>%
            <% end %>
          </td>
          <td>
            <% last_2month_count = User.count(:conditions => "logged_in_at is not null and logged_in_at >= '#{Time.now.to_date << 2}' and verified = 1 and created_at > '#{Date.new(year, month, 1)-1}' and created_at < '#{Date.new(year, month, 1) >> 1}'")%>
            <%= last_2month_count %>
          </td>
          <td>
            <% last_1month_count = User.count(:conditions => "logged_in_at is not null and logged_in_at >= '#{Time.now.to_date << 1}' and verified = 1 and created_at > '#{Date.new(year, month, 1)-1}' and created_at < '#{Date.new(year, month, 1) >> 1}'")%>
            <%= last_1month_count %>
          </td>
        </tr>
      <% end %>
    </table>
    <div><%= link_to('logout', :controller => 'admin', :action => 'logout')%>
  </body>
</html>