<% if @patterns && !@patterns.empty? -%>
  <%= javascript_tag "$('patterns').style.display = 'block';"%>
  <div style="background-color:white;">
    <table>
    <% for pattern in @patterns %>
      <tr>
        <td><div class="clickable_text" onClick="setEditDeal('<%= pattern.summary %>', '<%= pattern.amount%>', '<%= pattern.minus_account_id%>', '<%= pattern.plus_account_id%>');"><%= pattern.summary %></div></td>
        <td><%= number_with_delimiter(pattern.account_entries[1].amount) %></td>
        <td>[<%= pattern.account_entries[0].account.name %>]</td>
        <td> → </td>
        <td>[<%= pattern.account_entries[1].account.name %>]</td>
      </tr>
    <% end -%>
    </table>
  </div>
<% else -%>
  <%= javascript_tag "$('patterns').style.display = 'none';"%>
<% end -%>