<p class="guide">同じ小槌サービス上の別のユーザーの画面に簡単に移動するための設定を行えます。
家計と個人など、複数のアカウント間の移動に便利です。<br />
移動したいユーザーのログインID、パスワードを指定する必要があります。</p>

<%= render :partial => 'shared/information' %>
<%= error_messages_for :single_login %>
<div style="margin-bottom: 1em;">
  <% form_for :single_login do |f| %>
    <table class="form_box">
      <tr>
        <th><%= f.label :login, 'ログインID' %></th><td><%= f.text_field :login %></td>
      </tr>
      <tr>
        <th><%= f.label :password, 'パスワード' %></th><td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit '新しい設定を登録' %></td>
      </tr>
    </table>
  <% end %>
</div>

<% if current_user.single_logins.empty? %>
  <p>シングルログインは未設定です。</p>
<% else %>
  <table class="masters" style="width: 60%;">
    <tr>
      <th>ログインID</th><th style="width:100px;">状態</th><th style="width:100px;">削除</th>
    </tr>
    <%= render :partial => 'single_login', :collection => current_user.single_logins %>
  </table>
<% end %>
