<div class="navigation">
  <%= link_to '一覧へ', settings_deal_patterns_path %>
</div>
<%= error_messages_for :deal_pattern %>
<div class="form_box">
  <% unless @deal_pattern.new_record? %>
    <div class="timestamps">
      <%= l @deal_pattern.created_at %> 登録<br />
      <%= l @deal_pattern.updated_at %> 更新<br />
    </div>
  <% end %>
  <%= form_for @deal_pattern, :as => :deal_pattern, :url => @deal_pattern.new_record? ? settings_deal_patterns_path : settings_deal_pattern_path(@deal_pattern), :html => {:id => 'deal_pattern_form'} do |f| %>
    <div class="floating_field"><%= f.label :code %>: <%= f.text_field :code, :size => 10, :class => 'code', :tabindex => 1 %></div>
    <div class="floating_field"><%= f.label :name %>: <%= f.text_field :name, :size => 40, :class => 'name', :tabindex => 2 %></div>
    <div style="clear:left;"></div>
    <%= render :partial => '/shared/complex_deal_entry_fields', :locals => {:f => f, :deal => @deal_pattern} %>
    <div style="text-align: right; padding-right: 100px;"><%= link_to '記入欄を増やす', settings_deal_pattern_entries_path(@deal_pattern.new_record? ? 'new' : @deal_pattern), :id => 'add_entry_link' %></div>
    <div>
      <%= f.submit @deal_pattern.new_record? ? '登録' : '更新', :tablindex => "1099", :class => 'button' %>
      <% unless @deal_pattern.new_record? %>
        <%= link_to 'この記入パターンを削除', settings_deal_pattern_path(@deal_pattern), :confirm => confirm_message_on_destroy(@deal_pattern), :class => 'button', :method => :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  jQuery(document).ready(function($){
    $('#add_entry_link').click(function() {
      $('#deal_pattern_form').attr('action', $(this).attr('href'))
      $('#deal_pattern_form').submit()
      return false;
    })
  })
<% end %>