<%= render :partial => "shared/doctype" %>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <title><%= @title || controller.action_name %></title>
    <%= render :partial => "shared/html_header" %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <!-- header -->
    <table width="100%" class="header">
      <tr class="header">
        <td class="title" width="90%"><%= @title || controller.action_name %></td>
        <td align="center">小槌</td>
      </tr>
    </table> 
    <table>
      <tr>
        <td valign="top">
          <table class="window">
            <tr><td>ユーザー管理</td></tr>
          </table>
        </td>
        <td>
          <!-- 通信欄-->
          <div><%=flash[:notice] || ""%></div>
          <%= @content_for_layout %>
        </td>
      </tr>
    </table>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
  </body>
</html>
