<% html_tag do -%>

  <% head_tag 'home' do -%>
  	<title>[小槌] ホーム</title>
	<%= yield :head %>
  <% end -%>
  
  <% body_tag do -%>
    <div id="header">
      <div id="home_icon">
        <%= link_to(image_tag("/images/izumo_kozuchi.png", :border => 0, :width => 32, :height => 32), root_path) %>
      </div>
      <div id="header_title">
        <span class="large"><%= h @user.login %>さんの家計簿</span>
        <span> - ホーム</span>
      </div>
      <div id="header_menu">
        <% h_menues = header_menues%>
        <% for menu in h_menues %>
          <% if menu.name != 'ホーム' %>
            <%= link_to(menu.name, menu.url)%>
          <% else %>
            <span class="current"><%= menu.name %></span>
          <% end %>
          <% break if menu == h_menues.last %>
          <span> | </span>
        <% end %>
      </div>
    </div>

    <%= yield %>
  <% end -%>

<% end -%>