<%= html_tag do -%>

  <%= head_tag do -%>
  	<title>[小槌] ホーム</title>
	<%= yield :head %>
  <% end -%>
  
  <%= body_tag do -%>
    <div>
      <h1 class="mobile_title"><%= h current_user.login %>さんの家計簿<br />HOME</h1>
      <%= yield %>
    </div>
    
    <div><%= button_to "ログアウト", logout_path, :method => :delete %></div>

  <% end -%>
<% end -%>