<%= render :partial => "shared/doctype" %>

<% title = @menu_group || controller.class.controller_name -%>
<% sub_title = @menu || controller.action_name -%>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <%= render :partial => "shared/html_header" -%>
    <title>
      <%= title %> - <%= sub_title %> 
    </title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'all_media', :media => :all %>
    <%= stylesheet_link_tag 'book' %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <%#  stylesheet_link_tag 'daily_booking' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "book" %>
    <%= render :partial => "shared/google_analytics" %>
    <%= yield :head %>
  </head>
  <body>
    <a name="top"></a>
    <div id="page">
    <div id="header">
      <div id="home_icon">
        <%= link_to(image_tag("/images/izumo_kozuchi.png", :border => 0, :width => 32, :height => 32), root_path) %>
      </div>
      <div id="header_title">
        <span class="large"><%= title %></span>
        <span> - <%= sub_title %></span>
      </div>
      <%= render :partial => "shared/menu_groups" %>
    </div>
    <div id="sidebar">
      <div id="user_and_today" class="top_box" <%= user_color_style %>>
        <%= h current_user.login_id %>さん<br />
        <%= format_date(Time.now) %>
      </div>
      <!-- menu -->
      <%= render :partial => "shared/menus" %>
    </div>
    <!-- contents -->
    <div id="contents">
      <%= yield %>
    </div>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>