<%= render :partial => "shared/doctype" %>

<% title = @menu_group || controller.class.controller_name -%>
<% sub_title = @menu || controller.action_name -%>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <%= csrf_meta_tags %>

    <%= render :partial => "shared/html_header" -%>
    <title>
      <%= title %> - <%= sub_title %> 
    </title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'all_media', :media => :all %>
    <%= stylesheet_link_tag 'book' %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <%= render :partial => "shared/google_analytics" %>
  </head>
  <body>
    <div id="page">
    <div style="text-align: right; border-bottom: 1px dashed #041A61; margin-bottom: 4px;">小槌</div>
    <!-- contents -->
    <div id="mobile_contents">
      <% unless flash[:notice].blank? %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>