<%= render :partial => "shared/doctype" %>

<% title = @menu_group || controller.class.controller_name -%>
<% sub_title = @menu || controller.action_name -%>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <%= render :partial => "shared/html_header" -%>
    <title>
      <%= title %> - <%= sub_title %> 
    </title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'all_media', :media => :all %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <%= javascript_pack_tag :application %>
    <%= render :partial => "shared/google_analytics" %>
    <%= yield :head %>
  </head>
  <body>
    <a name="top"></a>
    <div id="page">
    <div id="header">
      <div id="home_icon">
        <%= link_to(image_tag("izumo_kozuchi.png", :border => 0, :width => 32, :height => 32), root_path) %>
      </div>
      <div id="header_title">
        <span class="large"><%= title %></span>
        <span> - <%= sub_title %></span>
      </div>
      <%= render :partial => "shared/menu_groups" %>
    </div>
    <div id="sidebar">
      <div id="user_and_today" class="top_box" link="<%= deals_path :today => 1 %>" <%= user_color_style %>>
        <%= t 'terms.user', :name => current_user.login_id %><br />
        <%= l Time.zone.today %>
      </div>
      <!-- menu -->
      <%= render :partial => "shared/menus" %>
      <%= yield :side %>
    </div>
    <!-- contents -->
    <%= content_tag :div, :id => "contents", :class => controller.class.name =~ /^Settings::/ ? 'settings' : nil do %>
      <%= yield %>
    <% end %>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>