<%= html_tag do -%>

  <%= head_tag do -%>
  	<title>[小槌] <%= @title %></title>
  <% end -%>
 <%= yield :css %>

  <%= body_tag do -%>
    <div id="title">
      <div style="float:right; "><%= link_to(image_tag("izumo_kozuchi.png", :size => "48x48", :align => 'middle', :border => 0, :alt => "トップページ"), root_path, :style => "display:block;")%></div>
  	  <h1><%= @title %></h1>
	  <div style="clear:right"></div>
	</div>
   <div class="navigation"><%= link_to 'トップページへ', root_path %></div>
    <%= yield %>
  <% end -%>

<% end -%>
